<div class="experience">
    <div class="container experience-body">
        <h1>Edit Award</h1>
        <img src="/assets/icons/1x/close.png" width="20px" class="cancel-icon" (click)="_awardEdit.closeModal()">
        <hr>
        <form [formGroup]='awardEditForm'>

            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Title" formControlName="title"
                [ngClass]="{'is-invalid':awardEditForm.get('title').touched && awardEditForm.get('title').invalid}">
            <div
                *ngIf="(awardEditForm.get('title').invalid && awardEditForm.get('title').touched) || awardEditForm.get('title').dirty">
                <small *ngIf="awardEditForm.get('title').errors?.required" class="text-danger">
                    Title is
                    required</small>
            </div>

            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Issuer" formControlName="issuer">


            <input placeholder="Issue Date" type="text" class="form-control" formControlName="issue_time"
                onfocus="(this.type='date')" onblur="(this.type='text')" id="issue_time" style="width: 100%;" />

            <textarea formControlName="desc" placeholder="Description" class="form-control"></textarea>

            <button class="btn btn-primary" (click)="onSave()" style="width: 48%;">Save</button>
            <button class="btn btn-primary" (click)="onDelete()" style="width: 48%;margin-left:4% ;">Delete</button><br>
        </form>
    </div>
</div>