<div class="container">
    <div id="place">


        <div id="form">
             <form  [formGroup]='resetPasswordForm'>

            <h1>Reset your password</h1>
            <p class="txt">Please enter a new password</p><br>

            <h3>New password (8 to more characters)</h3>
            <input type="password" class="form-control noMargin" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="ABCDEF#12"  formControlName="password1"
                [ngClass]="{'is-invalid':resetPasswordForm.get('password1').touched && resetPasswordForm.get('password1').invalid}">
                <div *ngIf="(pass.invalid && pass.touched) || pass.dirty">
                    <small *ngIf="pass.errors?.required" class="text-danger"> Password is required</small>
                    <!--question mark(?) is a safe navigation operator-->
                    <small *ngIf="pass.errors?.pattern" class="text-danger">Please follow the given pattern for password </small>
                  </div>
            <small id="emailHelp" class="form-text text-muted">Must contain a lowercase, a uppercase, number and a
                special character</small>

            <h3>Confirm new password</h3>
            <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="ABCDEF#12" formControlName="password2"
                [ngClass]="{'is-invalid':resetPasswordForm.get('password2').touched && resetPasswordForm.get('password2').invalid}">
                <div *ngIf="passwordValidation"  >
                    <p class="error">Enter same password as above</p>
                 </div>
                  <div class="invalid-feedback">
                    <p class="error">This field is required</p>
                 </div> 
            <button class="btn btn-primary left" (click)="reset_password()">Reset password</button>

         </form>
        </div>

    </div>

</div>