<div class="card loan-search-div mx-auto border">
    <div class="card-header bg-green-color">
      <h5 class="mt-1 whtcol proreg user-name">Your Loan Application</h5>
    </div>
    <div class="card-body">

        <div class="media mb-4 row">
          <img class="user-display" src="assets/dp.png" alt="">
          <div >
            <h2 class="proreg color-green user-name ml-3 mt-3" >Abesh Chatterjee</h2>
            <p class=" user-place ml-3">Kolkata, India</p>
          </div>
          <h3 class="col-lg-2 user-place mx-auto mt-4 mx-3">$450000</h3>
          <h3 class="col-lg-2 user-place mx-auto mt-4 mx-3">Social Collateral Completed</h3>
          <button class="col-lg-1 btn approve-btn mt-3 mx-3">Accept</button>
          <button class="col-lg-1 btn approve-btn mt-3 mx-3">Reject</button>
        </div>

        <div class="media mb-4 row">
          <img class="user-display" src="assets/dp.png" alt="">
          <div >
            <h2 class="proreg color-green user-name ml-3 mt-3" >Abesh Chatterjee</h2>
            <p class=" user-place ml-3">Kolkata, India</p>
          </div>
          <h3 class="col-lg-2 user-place mx-auto mt-4 mx-3">$450000</h3>
          <h3 class="col-lg-2 user-place mx-auto mt-4 mx-3">Social Collateral Completed</h3>
          <button class="col-lg-1 btn approve-btn mt-3 mx-3">Accept</button>
          <button class="col-lg-1 btn approve-btn mt-3 mx-3">Reject</button>
        </div>

        <div class="media mb-4 row">
          <img class="user-display" src="assets/dp.png" alt="">
          <div >
            <h2 class="proreg color-green user-name ml-3 mt-3" >Abesh Chatterjee</h2>
            <p class=" user-place ml-3">Kolkata, India</p>
          </div>
          <h3 class="col-lg-2 user-place mx-auto mt-4 mx-3">$450000</h3>
          <h3 class="col-lg-2 user-place mx-auto mt-4 mx-3">Social Collateral Completed</h3>
          <button class="col-lg-1 btn approve-btn mt-3 mx-3">Accept</button>
          <button class="col-lg-1 btn approve-btn mt-3 mx-3">Reject</button>
        </div>

        <div class="media mb-4 row">
          <img class="user-display" src="assets/dp.png" alt="">
          <div >
            <h2 class="proreg color-green user-name ml-3 mt-3" >Abesh Chatterjee</h2>
            <p class=" user-place ml-3">Kolkata, India</p>
          </div>
          <h3 class="col-lg-2 user-place mx-auto mt-4 mx-3">$450000</h3>
          <h3 class="col-lg-2 user-place mx-auto mt-4 mx-3">Social Collateral Completed</h3>
          <button class="col-lg-1 btn approve-btn mt-3 mx-3">Accept</button>
          <button class="col-lg-1 btn approve-btn mt-3 mx-3">Reject</button>
        </div>

        <div class="media mb-4 row">
          <img class="user-display" src="assets/dp.png" alt="">
          <div >
            <h2 class="proreg color-green user-name ml-3 mt-3" >Abesh Chatterjee</h2>
            <p class=" user-place ml-3">Kolkata, India</p>
          </div>
          <h3 class="col-lg-2 user-place mx-auto mt-4 mx-3">$450000</h3>
          <h3 class="col-lg-2 user-place mx-auto mt-4 mx-3">Social Collateral Completed</h3>
          <button class="col-lg-1 btn approve-btn mt-3 mx-3">Accept</button>
          <button class="col-lg-1 btn approve-btn mt-3 mx-3">Reject</button>
        </div>

        <div class="media mb-4 row">
          <img class="user-display" src="assets/dp.png" alt="">
          <div >
            <h2 class="proreg color-green user-name ml-3 mt-3" >Abesh Chatterjee</h2>
            <p class=" user-place ml-3">Kolkata, India</p>
          </div>
          <h3 class="col-lg-2 user-place mx-auto mt-4 mx-3">$450000</h3>
          <h3 class="col-lg-2 user-place mx-auto mt-4 mx-3">Social Collateral Completed</h3>
          <button class="col-lg-1 btn approve-btn mt-3 mx-3">Accept</button>
          <button class="col-lg-1 btn approve-btn mt-3 mx-3">Reject</button>
        </div>
        
    </div>
  </div>
