<div class="container float">
    <div class="jumbotron jumbotron-fluid" style="margin-top: 70px;">
        <div class="jumbotron-image" [style]="coverImgStyle">
            <img class="jmb-img" src="{{userDetails?.photo}}" alt="">
        </div>
        <div id="jumbotron-text" style="display: flex;">
            <div id="name" style="position: relative;
            bottom: 20px;">
                <h2>{{userDetails?.first_name}} {{userDetails?.last_name}}</h2>
                <p *ngIf="userDetails?.experiences" style="overflow-wrap: normal; width: 200px;">{{userDetails?.experiences[0].title}} at
                    {{userDetails?.experiences[0].company_name}}</p><br />
                <span *ngIf="privacySettingsMap?.location">{{userDetails?.location}}</span>
            </div>

            <div id="j-icons">
                <div style="display: flex; margin-top: 20px; position: relative;
                right: 50%;">
                    <span><img src="{{userDetails?.experiences[0].company_logo}}" width="20px" height="20px">
                        <p style="width: 200px;">{{userDetails?.experiences[0].company_name}}</p></span>
                    <div style="
                height: 35px; position: relative;
                        bottom: 10px;">
                        <a style="position: relative;
                        top: 5px;
                        left: 5px;
                    ">
                            <img class="more-opt" src="/assets/icons/1x/more-opt.png" alt=""><br>
                        </a>
                        <button *ngIf="profileConnectionStatus === 'Not Connected'" (click)="onConnectRequest()"
                            class="btn btn-primary jbtn connect-btn">
                            Connect</button>
                        <button *ngIf="profileConnectionStatus === 'Pending on FROM side'" (click)="onCancelRequest()"
                            class="btn btn-primary jbtn connect-btn">
                            Cancel Request</button>
                        <button *ngIf="profileConnectionStatus === 'Pending on TO side'" (click)="onDeleteRequest()"
                            class="btn btn-primary jbtn connect-btn">
                            Delete Request</button>
                        <button *ngIf="profileConnectionStatus === 'Pending on TO side'" (click)="onAcceptRequest()"
                            class="btn btn-primary jbtn connect-btn">
                            Accept Request</button>
                        <button *ngIf="profileConnectionStatus === 'Already Connected'"
                            class="btn btn-primary jbtn connect-btn">
                            Connected</button>
                        <!-- <button class="btn btn-primary jbtn">
                        Message</button> -->
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="mainbody">

        <div class="place">
            <div id="headline" *ngIf="privacySettingsMap?.headline">
                <h3>About</h3>
                <p class="txt">{{userDetails?.brief_Desc}}</p>
            </div>
            <div id="headline" *ngIf="privacySettingsMap?.experience">
                <h3>Experience</h3>

                <div id="experience">
                    <div id="txt-exp" *ngFor="let exp of userDetails?.experiences">
                        <div style="display: flex;">
                            <div>
                                <img *ngIf="exp.company_logo" src="{{exp.company_logo}}" width="50px" class="exp-img">
                                <img *ngIf="!exp.company_logo" src="/assets/icons/1x/no_company.jpg" width="50px"
                                    height="50px" style="display: block; border-radius: 50%;" class="exp-img">
                            </div>
                            <div style="margin-left: 15px;">
                                <span class="teal">{{exp.company_name}}</span><br>
                                {{exp.title}}
                                {{exp.responsibilities}}
                                <p>{{exp?.start_date}} -- {{exp?.end_date}}</p>
                            </div>

                        </div>
                        <div style="margin-left:60px"><hr/></div>

                    </div>
                </div>
            </div>

            <div id="headline" *ngIf="privacySettingsMap?.projects">
                <h3>Projects
                </h3>
                <div id="experience" *ngFor="let project of userDetails?.projects">
                    <div id="txt-exp">
                        <img src="/assets/icons/1x/logo3.png" width="50px" class="project-img">
                        <div class="project-details">

                            <span class="teal">{{project?.project_name}}</span><br>
                            <a href="{{project.link}}" target="_blank">{{project.link}}</a><br>
                            {{project?.start_date}} - {{project?.end_date}}
                        </div>
                    </div>
                    <div class="project-description" *ngIf="privacySettingsMap?.project_desc">
                        <h3>Project description
                        </h3>
                        <div class="pro-des">
                            {{project?.description}}
                        </div>
                    </div>
                </div>
            </div>

            <div id="headline" *ngIf="privacySettingsMap?.certificates">
                <h3>Certificates</h3>
                <div class="project-description" *ngIf="userDetails?.certifications.length">

                    <div id="skill" *ngFor="let certification of userDetails?.certifications"
                        style="margin-bottom: 10px;">
                        <span class="teal">{{certification?.certification_name}} </span>
                        {{certification?.description}}<br />
                        Valid till - {{certification?.validity_date}}
                    </div>
                </div>
            </div>

            <div id="headline" *ngIf="privacySettingsMap?.skills">
                <h3>Skills</h3>
                <!-- <img src="/assets/icons/1x/Edit.png" width="22px" class="edit-icon1"></h3> -->

                <div class="project-description">

                    <div id="skill" *ngFor="let skill of userDetails?.skills">
                        {{skill.skill}} ({{skill.level}})
                        <hr/>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
<!-- <div class="suggestion container">
    <div id="sug-head">
        <h4>Suggestions for you</h4>
    </div>
    <div id="sug-body">
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span><br>Kolkata, India
            </p><br>
        </div>
        <div id="sug-pro">
            <img src="/assets/icons/1x/sdp.png" class="sug-dp" alt="" width="55px" height="55px">
            <p class="text">
                <span class="teal">Sanjana Chakroborti</span>><br>Kolkata, India
            </p><br>
        </div>

    </div>
</div> -->