<div id="place1">
    <div class="txt">If you are not yet registered on holagraph, please register below</div><br>
    <div id="form">
        <form [formGroup]='registerForm'>
            <h3>Name</h3>
            <input type="text" class="form-control left" id="exampleInputEmail1" placeholder="First"
                formControlName="first_name"
                [ngClass]="{'is-invalid':registerForm.get('first_name').touched && registerForm.get('first_name').invalid}">
            <input type="text" class="form-control left" id="exampleInputEmail1" placeholder="Last"
                formControlName="last_name">

            <div class="invalid-feedback">
                <p class="error">This field is required</p>
            </div>

            <h3>Email ID</h3>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email ID"
                formControlName="email"
                [ngClass]="{'is-invalid':registerForm.get('email').touched && registerForm.get('email').invalid}">
            <!-- <div class="invalid-feedback">
                    <p class="error">This field is required</p>
                 </div>  -->
            <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
                <small *ngIf="primEmail.errors?.required" class="text-danger"> Email is required</small>
                <!--question mark(?) is a safe navigation operator-->
                <small *ngIf="primEmail.errors?.pattern" class="text-danger">Please provide a valid email
                    address</small>
            </div>
            <h3>Password(8 or more characters)</h3>
            <div class="form-group pass_show">
                <input type="password" class="form-control password" placeholder="Password" formControlName="password"
                    [ngClass]="{'is-invalid':registerForm.get('password').touched && registerForm.get('password').invalid}">
                <!-- <div class="invalid-feedback">
                    <p class="error">This field is required</p>
                 </div>  -->
                <small id="emailHelp" class="form-text text-muted">Must contain a lowercase, a uppercase, number and a
                    special character</small>
                <div *ngIf="(pass.invalid && pass.touched) || pass.dirty">
                    <small *ngIf="pass.errors?.required" class="text-danger"> Password is required</small>
                    <!--question mark(?) is a safe navigation operator-->
                    <small *ngIf="pass.errors?.pattern" class="text-danger">Please follow the given pattern for password
                    </small>
                </div>
            </div>
        </form>
    </div>
    <!-- <button (click)="showToasterSuccess()">
            Success Toaster
        </button> -->
        <div class="agreement">
            By clicking Register, you agree to holagraph <a>User Agreement</a><br></div>
    <button class="btn btn-primary" (click)="submit()">Register</button><br>
    
</div>

<!-- <div id="place1">
        <div class="txt">If you are not yet registered on holagraph, please register below</div><br>
        <div id="form">
            <h3>Name</h3>
            <input type="text" class="form-control left" id="exampleInputEmail1" placeholder="First">
            <input type="text" class="form-control left" id="exampleInputEmail1" placeholder="Last">

            <h3>Email ID</h3>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Email ID">
            <h3>Password(8 or more characters)</h3>
            <div class="form-group pass_show">
                <input type="password" class="form-control password" placeholder="Password">
                <small id="emailHelp" class="form-text text-muted">Must contain a lowercase, an uppercase, number and a
                    special character</small>

            </div>
        </div>
        <div class="agreement">
            <a>**</a>You agree to the holagraph<a href=""> User Agreement</a><br></div>
        <button class="btn btn-primary">Register</button><br>

    </div> -->