<div class="mainbody">
  <div class="header">
      <h2>Search for jobs</h2>
      <div id="button">
          <button type="submit" class="btn btn-primary hbtn">Instant Apply</button>

      </div>
      <div id="filter">
          <button type="button" class="btn ">

              <img src="/assets/icons/1x/Filter.png" alt="" width="22" height="25">

          </button>
      </div>
  </div>
  
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Filter
                <img src="/assets/icons/1x/Filter.png" alt="" width="22" height="25">

            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Filter by job type</a>
              <a class="dropdown-item" href="#">Filter by state</a>
              <a class="dropdown-item" href="#">Filter by district</a>
            </div>
        </div>
    
    <div class="place">
        <form [formGroup]='instantApplyForm'>
            <div class="form-group">
                <label>Type of Job</label><br>
                <input type="text" class="form-control" formControlName="typeOfJob">
                <p *ngIf="instantApplyForm.controls.typeOfJob.errors" class="alert alert-danger">This field is required!</p>
          </div>
              <div class="form-group">
                 <label>State</label><br>
                    <select id="location_State" class="form-control" formControlName="location_State">
                        <option>--select--</option>
                        <option>Andhra Pradesh</option>
                        <option>Assam</option>
                        <option>Bihar</option>
                        <option>Gujarat</option>
                        <option>Jharkand</option>
                        <option>Karnataka</option>
                        <option>Maharashtra</option>
                        <option>Kerala</option>
                        <option>Punjab</option>
                        <option>Uttar Pradesh</option>
                        <option>West Bengal</option>
                    </select>
                    <p *ngIf="instantApplyForm.controls.location_State.errors" class="alert alert-danger">This field is required!</p>
             </div>
              <div class="form-group">
                 <label>District</label><br>
                    <input [disabled]="instantApplyForm.controls.location_State.untouched">
                        <select id="location_District" class="form-control" formControlName="location_District">
                             <option>--select--</option>
                            <option>Andhra Pradesh</option>
                            <option>Assam</option>
                            <option>Bihar</option>
                            <option>Gujarat</option>
                            <option>Jharkand</option>
                            <option>Karnataka</option>
                            <option>Maharashtra</option>
                            <option>Kerala</option>
                            <option>Punjab</option>
                            <option>Uttar Pradesh</option>
                            <option>West Bengal</option>
                     </select>
            
                 <p *ngIf="instantApplyForm.controls.location_District.errors" class="alert alert-danger">This field is required!</p>
              </div>
              <div class="form-group">
                    <label>From</label>
                    <input type="date" class="form-control" formControlName="starting_time">
                    <p *ngIf="instantApplyForm.controls.starting_time.errors" class="alert alert-danger">This field is required!</p>
              </div>
              <div class="form-group">
                    <label>To</label>
                    <input type="date" class="form-control" formControlName=" end_time">
                    <p *ngIf="instantApplyForm.controls. end_time.errors" class="alert alert-danger">This field is required!</p>
              </div>
              <button class="btn-primary" (click)="submit()">Search</button>
    </form>
         
    </div>
</div>
