<div class="mainbody">
    <div class="header">
        <h2>Jobs card</h2>
    </div>
    <div class="place">
        <div class="cards">
            <a type="submit" routerLink="/jobs/various-sectors">
                <div class="card one-edge-shadow">
                    <div class="card-body">
                        <h5>Job across various sectors</h5>
                    </div>
                </div>
            </a>
            <a type="submit" routerLink="/jobs/instant-apply-search">
                <div class="card one-edge-shadow">
                    <div class="card-body">
                        <h5 class="card-title">Custom job searches</h5>
                    </div>
                </div>
            </a>

        </div>

    </div>

</div>