<app-news-feed></app-news-feed>
<app-featured-post></app-featured-post>


<div class="container cont5">
    <div class="status" style="min-height: 200px;">
        <div id="heading">
            <h2 style="color: white;">Let your connections know a bit more about you</h2>
        </div>
        <div class="status-area">
            <div id="txtarea">
                <img src="/assets/icons/1x/Edit.png" alt="" width="15px" class="status-edit">
                <input [(ngModel)]="statusText" type="text" class="form-control statustxt"
                    placeholder="Update your status">
            </div>
            <div>

                <!-- <img src="/assets/icons/1x/insert.png" alt=""  id="status-icons"> -->
                <!-- <img src="/assets/icons/1x/insert.png" alt="" width="26" height="24" id="status-icons"> -->

                <!-- <img src="/assets/icons/1x/Image.png" alt="" width="25" height="26" id="status-icons"> -->
                <label for="image">
                    <input type="file" name="image" id="image" style="display:none;"
                        (change)="onPhotoUpload($event);" />
                    <img src="/assets/icons/1x/camera.png" width="25" height="26" hspace="10" />
                </label>
                <!-- <label for="video">
                    <input type="file" name="video" id="video" style="display:none;"
                        (change)="onVideoUpload($event);" />
                    <img src="/assets/icons/1x/video.png" width="26" height="24" />
                </label> -->
            </div>
        </div>
        <div style="margin-right: 10px; margin-top: 10px;">
        <button class="btn btn-success float-right" (click)="createStatus()">Update your status</button>
        </div>

        <!-- <button class="btn btn-success right" (click)="onSubmit()">onSubmit</button> -->

    </div>

    <ng-container *ngFor="let post of postList">
        <div class="post" id="{{post?.id}}">
            <div class="post-image" routerLink="/in/users/{{post?.author_user}}" style="cursor: pointer;">
                <img src="{{post?.author_user?.photo}}" style="display: block;
                width: 70px;
                height: 70px;
                border-radius: 50%;" width="47px">
            </div>
            <div class="post-text">
                <div style="display: flex; justify-content: flex-end; cursor: pointer;" (click)="deletePost(post.id)"
                    class="post-item" *ngIf="post?.author_user?.id === currentUser"><img
                        src="/assets/icons/1x/more-opt.png">
                    <div class="drop-items">
                        <p *ngIf="post?.author_user === currentUser" (click)="deletePost(post.id)">Delete this post</p>
                        <p (click)="savePost(post.id)">Save this post</p>
                    </div>
                </div>
                <!-- <div style="display: flex; justify-content: flex-end; cursor: pointer;" 
                    class="post-item" *ngIf="post?.author_user === currentUser"><img
                        src="/assets/icons/1x/more-opt.png">
                    <div class="drop-items">
                        <p>Save this post</p>
                    </div>
                </div> -->

                <div style="display: flex; flex-direction: column;">

                    <p class="teal" *ngIf="post.author_user" routerLink="/in/users/{{post?.author_user?.id}}"
                        style="cursor: pointer; text-decoration: underline;">{{post?.author_user?.first_name}} {{post?.author_user?.last_name}}
                    </p>
                    <p> {{moment(post?.created_on).fromNow()}}</p>
                    <p *ngIf="post?.text"> {{post?.text}}</p>
                </div>
                <p *ngIf="post?.photo"> <img
                        style="max-width: 100%; display: block; height: 100%; object-fit: cover; width: 100%;"
                        src="{{post?.photo}}" width="950px" height="600px"></p>
                <!-- <p *ngIf="post?.video"> <video style="width:950px;height:600px" src="{{post?.video}}" ></video></p> -->

                <p *ngIf="post?.video"><video style="max-width: 100%; display: block;" width="950px" height="600px"
                        controls="controls" poster="image" preload="true">
                        <!-- <source src="where the video is" type="video/mov"/> -->
                        <source src="{{post?.video}}" type="video/mp4" />
                        <!-- <source src="where the video is" type="video/oog" /> -->
                        <!-- Your browser does not support the video tag. -->
                    </video></p>


            </div>
            <small style="cursor:pointer;"
                (click)="showAllReactions($event,post.id);all_reactions()">{{post?.likes_count}}
                likes.{{post?.reactions?.length}} reacts.{{post?.comments_count}}
                comments</small>
            <hr color="#A9A9A9  ">

            <div class="icons-div">

                <div *ngIf="!post?.isLiked" style="cursor: pointer;" (click)="likePost(post.id);" id="icons"> <img
                        src="/assets/icons/1x/like.png" width="19px" height="22px" class="like-comment-icon"><br><small
                        class="icon-txt">Like</small></div>


                <div *ngIf="post?.isLiked" style="cursor: pointer;" (click)="likePost(post.id);" id="icons"> <img
                        src="/assets/icons/1x/like.png" width="19px" height="22px" class="like-comment-icon"><br><small
                        class="icon-txt">Liked</small>
                </div>
                <div *ngIf="post?.isReacted" id="icons" class="react-btn"> <img src="/assets/icons/1x/smiley.png"
                        (click)="smiley()" (mouseenter)="enter($event,post.id)"  (mouseleave)="leaveReact()" width="22px" height="22px"
                        class="like-comment-icon"><small class="icon-txt">Reacted</small></div>
                <div *ngIf="!post?.isReacted" id="icons" class="react-btn"> <img src="/assets/icons/1x/smiley.png"
                        (click)="smiley()" (mouseenter)="enter($event,post.id)"  (mouseleave)="leaveReact()" width="22px" height="22px"
                        class="like-comment-icon"><small class="icon-txt">React</small></div>

                <!-- <div id="icons"> <img src="/assets/icons/1x/smiley.png" width="22px" height="22px" (click)="smiley()"
                        class="like-comment-icon"><small class="icon-txt">React</small></div> -->
                <!-- <div id="icons" style="cursor: pointer;" (click)="commentOnPost(post.id)"> <img
                        src="/assets/icons/1x/Comment.png" width="25px" height="22px"
                        class="like-comment-icon report-img"><small class="icon-txt">Comment</small></div> -->

                <div id="icons" style="cursor: pointer;" class="report" (click)="report(post.id)"><img
                        src="/assets/icons/1x/Report.png" width="7px" height="22px"
                        class="like-comment-icon report-img"><small class="icon-txt">Report</small></div>
            </div>
            <div class="react-box">
                <div id="like-options" class="like-opt" *ngIf="showEmoji && showReact==post.id"
                    (mouseleave)="leave($event,post.id)">
                    <img src="/assets/icons/1x/clap.png" (click)="reactType(1,post.id)" class="clap react-icons"
                        width="30px">
                    <img src="/assets/icons/1x/heart.png" (click)="reactType(2,post.id)" class="heart react-icons"
                        width="30px">
                    <img src="/assets/icons/1x/idea.png" (click)="reactType(3,post.id)" class="idea react-icons"
                        width="30px">
                    <img src="/assets/icons/1x/emoji.png" (click)="reactType(4,post.id)" class="emoji react-icons"
                        width="30px">
                </div>
            </div>
            <div class="comment" #comment>
                <img src="{{currentUserDetails?.photo}}" style="display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;" alt="" width="50px" class="comm-pro">
                <input (keyup.enter)="postComment(post.id, commentInp.value)" type="text"
                    class="form-control comment-box" placeholder="Write a comment..." #commentInp>
                <div class="input-group-btn">
                    <button class="btn btn-default comm-icons" (click)="postComment(post.id, commentInp.value)">
                        <i class="glyphicon glyphicon-search comm-cam"><img src="/assets/icons/1x/Image.png"
                                width="17px"></i>
                        <i class="glyphicon glyphicon-search comm-cam"><img src="/assets/icons/1x/video.png"
                                width="17px"></i>

                    </button>
                </div>
            </div>

            <div class="sharethis-inline-share-buttons"></div>

            <a style="text-decoration: underline; cursor: pointer; position: relative; top: 10px; color: grey;"
                (click)="getPostComments(post.id)">Load more comments...</a>
                <ng-container *ngFor="let data of post?.comments">
                    <div class="post-notification" *ngIf="data?.content">
                        <!-- <div class="time">
                            25min &nbsp
                            <img src="/assets/icons/1x/more-opt.png" width="12px">
                        </div> -->
                        <div class="post-image">
                            <img src="{{data?.user?.photo}}" style="display: block;
                            width: 55px;
                            height: 55px;
                            border-radius: 50%;" width="47px">
                        </div>
                        <div class="post-text">
                            <!-- Kolkata, India<br> -->
    
                            <div style="background-color: #f3f3f3; border-radius: 4px; height: 80px;
                            padding: 7px; margin-bottom: 10px;">
                                <div style="display: flex; justify-content: flex-end; cursor: pointer;"
                                    (click)="deleteComment(post.id, data.id)" class="post-item"
                                    *ngIf="data?.user === currentUser"><img src="/assets/icons/1x/more-opt.png">
                                    <div class="drop-items">
                                        <p>Delete this comment</p>
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <span id="teal">{{data?.user?.first_name}} {{data?.user?.last_name}}</span>
                                    <span>{{data?.timestamp | date}}</span>
                                </div>
    
                                <div style=" justify-content: space-between; display: flex;">
                                    <span>{{data?.content}}</span>
                                </div>
                                <small *ngIf="!data?.isLiked" class="comment-like"
                                    (click)="likeComment(data?.id,post.id)"><u>Like</u> </small>
                                <small *ngIf="data?.isLiked" class="comment-like"
                                    (click)="likeComment(data?.id,post.id)"><u>Liked</u> </small>
    
                            </div>
                            <div style="display: flex;
                            justify-content: flex-end">
                                <div class="post-image" *ngIf="data?.replies.length" style="margin-top: 20px;">
                                    <img src="{{data?.replies[0]?.user?.photo}}" style="display: block;
                                width: 55px;
                                height: 55px;
                                border-radius: 50%;" width="47px">
                                </div>
                                <div *ngIf="data?.replies.length" style="background-color: #f3f3f3; border-radius: 4px; width: 70%;
                                margin-top: 10px;
                                margin-bottom: 10px; padding: 5px;">
                                    <span id="teal">{{data?.replies[0]?.user?.first_name}} {{data?.replies[0]?.user?.last_name}}</span>
                                    <small class="float-right">{{data?.replies[0].timestamp | date}}</small>
                                    <!-- <div style="display: flex; justify-content: space-between;"> -->
                                    <!-- <span id="teal">{{data?.reply?.first_name}}
                                            {{data?.value?.reply?.last_name}}</span> -->
                                    <!-- <span>{{data?.replies[0].timestamp | date}}</span> -->
                                    <!-- </div> -->
                                    <div style=" justify-content: space-between; display: flex;">
                                        <span>{{data?.replies[0]?.content}}</span>
                                    </div>
                                    <small *ngIf="!data.replies[0].is_liked"
                                        (click)="likeReply(data.replies[0].id,data.post)" class="reply-like">like</small>
                                    <small *ngIf="data.replies[0].is_liked"
                                        (click)="likeReply(data.replies[0].id,data.post)" class="reply-like">liked</small>
    
                                </div>
                            </div>
    
                            <div style="display: flex;
                            justify-content: flex-end;
                            position: relative;
                            right: 10px;" *ngIf="!data?.replies.length"> <input
                                    (keyup.enter)="replyComment(post?.id, data?.id, replyInp.value)" type="text"
                                    class="form-control comment-box" placeholder="Write a reply..." #replyInp>
                                <div class="input-group-btn">
                                    <button class="btn btn-default comm-icons"
                                        (click)="replyComment(post?.id, data?.id, replyInp.value)">
                                        <i class="glyphicon glyphicon-search comm-cam"><img src="/assets/icons/1x/Image.png"
                                                width="17px"></i>
    
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
        </div>
    </ng-container>
    <div *ngIf="showModal" class="experience" id="resetModal">
        <div class="cont experience-body" style="cursor:pointer;">
            <img (click)="closeAllReactions($event)" src="./../../../assets/icons/1x/cancel.png" width="17px"
                class="cross">
            <div class="header-modal">
                <h1 class="reaction">Reactions</h1>
                <span class="react-nos" (click)="all_reactions()">All {{numAll}} </span><span (click)="likeReactions()"
                    class="react-nos"><img src="./../../../assets/icons/1x/like.png" class="nav-emoji"> {{numLiked}}
                </span> <span (click)="loveReactions()" class="react-nos"><img
                        src="./../../../assets/icons/1x/heart.png" class="nav-emoji"> {{numLoved}}</span> <span
                    class="react-nos" (click)="thinkReactions()"><img src="./../../../assets/icons/1x/emoji.png"
                        class="nav-emoji">{{numThink}}</span> <span (click)="ideaReactions()" class="react-nos"><img
                        src="./../../../assets/icons/1x/idea.png" class="nav-emoji">{{numIdea}}</span> <span
                    (click)="clapReactions()" class="react-nos"><img src="./../../../assets/icons/1x/clap.png"
                        class="nav-emoji">{{numClapped}}</span>
            </div>

            <div class="likers-cont">
                <div *ngFor="let user of allReactions">
                    <div class="likers">
                        <img src={{user.user.photo}} routerLink="/in/users/{{user.user.id}}" class="likers-dp"
                            width="65px" height="65px">
                        <div class="likers-info">
                            <b class="black" routerLink="/in/users/{{user.user.id}}">{{user.user.first_name}}
                                {{user.user.last_name}}</b>
                        </div>
                        <hr class="hr">
                    </div>
                </div>


            </div>
        </div>

    </div>
    <div *ngIf="!postList" class="no-data">Loading...</div>
    
    <div *ngIf="!!postList && !postList.length" class="no-data">No posts!</div>
</div>