<div class="container">
    <div class="status">
        <div id="heading">
            <h2>Let your connection know a bit more about you</h2>
        </div>
        <div class="status-area">
            <div id="txtarea">
                <img src="/assets/icons/1x/Edit.png" alt="" width="15px" class="status-edit">
                <input [(ngModel)]="statusText" type="text" class="form-control statustxt"
                    placeholder="Update your status">
            </div>
            <!-- <div>
                <img src="/assets/icons/1x/insert.png" alt="" width="22" height="22" id="status-icons">
                <img src="/assets/icons/1x/Image.png" alt="" width="25" height="26" id="status-icons">
                <img src="/assets/icons/1x/video.png" alt="" width="26" height="24" id="status-icons">
            </div> -->
            <div>
                <button class="btn btn-success right" (click)="createStatus()">Create</button>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let post of postList">
        <div class="post">
            <div class="post-image">
                <img src="/assets/icons/1x/bulb.png" width="47px">
            </div>
            <div class="post-text">
                <p class="teal" *ngIf="post.author_user">{{post.author_user.first_name}}</p>
                <p class="teal" *ngIf="post.author_company">{{post.author_company.name}}</p><br>
                <p> {{post?.created_on | date}}</p>
                <p> {{post?.text}}</p>
            </div>
            <small>{{post?.likes_count}} likes.{{post?.reactions?.length}} reacts.{{post?.comments_count}}
                comments</small>
            <hr color="#A9A9A9      ">
            <div class="icons-div">
                <div *ngIf="!post?.isLiked" style="cursor: pointer;" id="icons"> <img src="/assets/icons/1x/like.png"
                        width="19px" height="22px" class="like-comment-icon" (click)="likePost(post.id);"><br><small
                        class="icon-txt">Like</small></div>
                <div *ngIf="post?.isLiked" style="cursor: pointer;" id="icons"> <img src="/assets/icons/1x/like.png"
                        width="19px" height="22px" class="like-comment-icon"><br><small class="icon-txt">Liked</small>
                </div>
                <div  style="cursor: pointer;" id="icons"> <img src="/assets/icons/1x/smiley.png"
                    width="19px" height="22px" class="like-comment-icon" ><br><small
                    class="icon-txt">React</small>
                   
                        <div id="like-options">
                            <div id="react" (click)="IsReacted();"><img src="/assets/icons/1x/smiley.png" alt="" width="15px" ></div>
                            <div id="react" (click)="IsReacted();"><img src="/assets/icons/1x/smiley.png" alt="" width="15px" ></div>
                            <div id="react" (click)="IsReacted();"><img src="/assets/icons/1x/smiley.png" alt="" width="15px" ></div>
                            <div id="react" (click)="IsReacted();"><img src="/assets/icons/1x/smiley.png" alt="" width="15px" ></div>
                        </div>
                        
                </div>
                <div *ngIf="!isReacted" style="cursor: pointer;position : absolute; padding-left: 50px;" id="icons" (click)="IsReacted();"> <img src="/assets/icons/1x/smiley.png"
                    width="19px" height="22px" class="like-comment-icon"><br><small class="icon-txt">Reacted</small>
            </div>
            
                <div id="icons" style="cursor: pointer;" (click)="commentOnPost(post.id)"> <img
                        src="/assets/icons/1x/Comment.png" width="25px" height="22px"
                        class="like-comment-icon report-img"><small class="icon-txt">Comment</small></div>
                <!-- <div id="icons" class="report"><img src="/assets/icons/1x/Report.png" width="7px" height="22px"
                        class="like-comment-icon report-img"><small class="icon-txt">Report</small></div> -->
            </div>
            <div class="comment" #comment>
                <img src="/assets/icons/1x/dp.png" alt="" width="50px" class="comm-pro">
                <input type="text" class="form-control comment-box" placeholder="Write a comment...">
                <div class="input-group-btn">
                    <button class="btn btn-default comm-icons" (click)="postComment(post.id)">
                        <i class="glyphicon glyphicon-search comm-cam"><img src="/assets/icons/1x/Image.png"
                                width="17px"></i>
                        <i class="glyphicon glyphicon-search comm-cam"><img src="/assets/icons/1x/video.png"
                                width="17px"></i>

                    </button>
                </div>
            </div>
            <ng-container *ngFor="let comment of post?.reactions">
                <div class="post-notification" *ngIf="comment?.comment">
                    <!-- <div class="time">
                        25min &nbsp
                        <img src="/assets/icons/1x/more-opt.png" width="12px">
                    </div> -->
                    <!-- <div class="post-image">
                        <img src="/assets/icons/1x/sdp.png" width="47px">
                    </div> -->
                    <div class="post-text">
                        <span id="teal">{{comment?.user.first_name}} {{comment?.user.last_name}}</span><br>
                        <!-- Kolkata, India<br> -->

                        <p>{{comment?.comment}}</p>
                    </div>
                </div>
            </ng-container>
        </div>
    </ng-container>

</div>