<div class="container">
    <div class="mainbody" style="margin-top: 150px;">
        <div class="header">
            <h2>Create a company page and let the mass know about you</h2>
        </div>
        <div class="place">
            <form [formGroup]="companyForm" (ngSubmit)="onSubmit();">
                <h3>Name of company</h3>
                <div class="form-group">
                    <input class="form-control" id="frm2" placeholder="Abc Exam, XYZ test" formControlName="name"
                        [ngClass]="{'is-invalid': companyForm.get('name').touched && companyForm.get('name').invalid}">
                    <div class="invalid-feedback">
                        <p class="error">This field is required</p>
                    </div>
                </div>


                <h3>Size of company </h3>
                <div class="form-group">
                    <input class="form-control" id="frm2" placeholder="number of employees the company has"
                        formControlName="company_size"
                        [ngClass]="{'is-invalid': companyForm.get('company_size').touched && companyForm.get('company_size').invalid}">
                    <div class="invalid-feedback">
                        <p class="error">This field is required</p>
                    </div>
                </div>

                <h3>Industry </h3>
                <div class="form-group">
                    <select class="form-control" id="frm2"
                        placeholder="Select industry" formControlName="industry"
                        [ngClass]="{'is-invalid': companyForm.get('industry').touched && companyForm.get('industry').invalid}">
                        <option *ngFor="let industry of sectorList" [value]="industry.sector_name">
                            {{industry.sector_name}}</option>

                    </select>
                    <div class="invalid-feedback">
                        <p class="error">This field is required</p>
                    </div>
                </div>

                <h3>Logo</h3>
                <div class="form-group">
                    <input class="form-control" type="file" id="frm2" placeholder="Upload a logo for the company"
                        (change)="onPhotoUpload($event)">
                </div>

                <button class="btn btn-default btnplc" type="submit">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>