<div class="container">
    <div class="holo-img">
        <img src="/assets/icons/1x/home-bg.png" alt="holagraph">
        <span style="display: flex;"><img style="width: 35px; height: 35px; margin-top: 7px;" src="assets/icons/1x//hola_logo.png"><h1 style="margin-left: 5px;">holagraph</h1></span>
        <span> everything you need to turbocharge your career<br>
            Jobs<span class="dot"></span>Projects<span class="dot"></span>Learning<span class="dot"></span>Loans<span
                class="dot"></span>Networking
        </span>
    </div>

    <app-login-page></app-login-page>
    <app-registration-page></app-registration-page>
    <!-- <button class="loginBtn loginBtn--facebook">
        Login with Facebook
      </button> -->
      
      <!-- <button class="loginBtn loginBtn--google" #loginRef>
        Login with Google
      </button> -->
</div>