<div class="container">
    <div class="holo-img">
        <img src="/assets/icons/1x/rocket2.png" alt="holagraph">
        <h1>holagraph</h1>
        <span> Everything you need to turbocharge your career<br>
            Jobs<span class="dot"></span>Projects<span class="dot"></span>Learning<span class="dot"></span>Loans<span
                class="dot"></span>Networking
        </span>
    </div>
    <!-- <div id="place">
        <span class='txt'>If you are already registered on holagraph, please log in below</span>
        <div id="form">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Email ID">

            <div class="form-group pass_show">
                <input type="password" class="form-control" placeholder="Password"><span class="ptxt">Show</span>
            </div>
            <button class="btn btn-primary btn-form">Log in</button><br>
            <span id="forpass" class="float-left">forgot password?</span>
        </div>
    </div> -->
    <app-login-page></app-login-page>
    <div id="place1">
        <div class="txt">If you are not yet registered on holagraph, please register below</div><br>
        <div id="form">
            <h3>Name</h3>
            <input type="text" class="form-control left" id="exampleInputEmail1" placeholder="First">
            <input type="text" class="form-control left" id="exampleInputEmail1" placeholder="Last">

            <h3>Email ID</h3>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Email ID">
            <h3>Password(8 or more characters)</h3>
            <div class="form-group pass_show">
                <input type="password" class="form-control password" placeholder="Password">
                <small id="emailHelp" class="form-text text-muted">Must contain a lowercase, an uppercase, number and a
                    special character</small>

            </div>
        </div>
        <div class="agreement">
            <a>**</a>You agree to the holagraph<a href=""> User Agreement</a><br></div>
        <button class="btn btn-primary">Register</button><br>

    </div>
</div>