<div class="container">
    <div id="place">

    <form  [formGroup]='resetPasswordForm'>
        <div id="form">
            <h1>Reset your password to login</h1>
            <p class="txt">Please enter your email id</p><br>

            <h3>Email ID</h3>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Email ID" formControlName="email"
                [ngClass]="{'is-invalid':resetPasswordForm.get('email').touched && resetPasswordForm.get('email').invalid}">
                <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
                    <small *ngIf="primEmail.errors?.required" class="text-danger"> Email is required</small>
                    <!--question mark(?) is a safe navigation operator-->
                    <small *ngIf="primEmail.errors?.pattern" class="text-danger">Please provide a valid email address</small>
                  </div>
            <button class="btn btn-primary left" routerLink="/">Cancel</button>
            <button class="btn btn-primary  left1" (click)="reset_password()">Reset Password</button><br>


        </div>
    </form>
    </div>

</div>