<app-navbar></app-navbar>
<div class="container">
    <div class="left-container">
        <div class="message">
       <h4>Messaging <i class="fa fa-caret-down"></i><i class="fa fa-edit"></i></h4>
       </div>
       <div class="message-search">
           <input type="text" class="form-control search-form" placeholder="Search Message"><h4><i class="fa fa-search"></i>
           <i class="fa fa-sliders"></i></h4>
       </div>
       <div class="message-details">
       <a href="#right-body"><div class="user-messages">
           <img src="/assets/icons/1x/dp.png" width="75px" class="user-dp">
           
           <div class="message-text" >
               <small class="time-stamp">25 june</small>
               <small class="msg-opt"><i class="fa fa-trash"></i>
                   <i class="fa fa-envelope-open"></i>
               </small>
               <h5>Abbesh Chatterjee</h5>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">...</a>
                   </div>
       </div></a>
       <a href="#right-body"><div class="user-messages">
           <img src="/assets/icons/1x/dp.png" width="75px" class="user-dp">
           
           <div class="message-text" >
               <small class="time-stamp">25 june</small>
               <small class="msg-opt"><i class="fa fa-trash"></i>
                   <i class="fa fa-envelope-open"></i>
               </small>
               <h5>Abbesh Chatterjee</h5>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">...</a>
                   </div>
       </div></a>
       <a href="#right-body"><div class="user-messages">
           <img src="/assets/icons/1x/dp.png" width="75px" class="user-dp">
           
           <div class="message-text" >
               <small class="time-stamp">25 june</small>
               <small class="msg-opt"><i class="fa fa-trash"></i>
                   <i class="fa fa-envelope-open"></i>
               </small>
               <h5>Abbesh Chatterjee</h5>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">...</a>
                   </div>
       </div></a>
       <a href="#right-body"><div class="user-messages">
           <img src="/assets/icons/1x/dp.png" width="75px" class="user-dp">
           
           <div class="message-text" >
               <small class="time-stamp">25 june</small>
               <small class="msg-opt"><i class="fa fa-trash"></i>
                   <i class="fa fa-envelope-open"></i>
               </small>
               <h5>Abbesh Chatterjee</h5>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">...</a>
                   </div>
       </div></a>
       <a href="#right-body"><div class="user-messages">
           <img src="/assets/icons/1x/dp.png" width="75px" class="user-dp">
           
           <div class="message-text" >
               <small class="time-stamp">25 june</small>
               <small class="msg-opt"><i class="fa fa-trash"></i>
                   <i class="fa fa-envelope-open"></i>
               </small>
               <h5>Abbesh Chatterjee</h5>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">...</a>
                   </div>
       </div></a>
       <a href="#right-body"><div class="user-messages">
           <img src="/assets/icons/1x/dp.png" width="75px" class="user-dp">
           
           <div class="message-text" >
               <small class="time-stamp">25 june</small>
               <small class="msg-opt"><i class="fa fa-trash"></i>
                   <i class="fa fa-envelope-open"></i>
               </small>
               <h5>Abbesh Chatterjee</h5>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">...</a>
                   </div>
       </div></a>
       <a href="#right-body"><div class="user-messages">
           <img src="/assets/icons/1x/dp.png" width="75px" class="user-dp">
           
           <div class="message-text" >
               <small class="time-stamp">25 june</small>
               <small class="msg-opt"><i class="fa fa-trash"></i>
                   <i class="fa fa-envelope-open"></i>
               </small>
               <h5>Abbesh Chatterjee</h5>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">...</a>
                   </div>
       </div></a>
       <a href="#right-body"><div class="user-messages">
           <img src="/assets/icons/1x/dp.png" width="75px" class="user-dp">
           
           <div class="message-text" >
               <small class="time-stamp">25 june</small>
               <small class="msg-opt"><i class="fa fa-trash"></i>
                   <i class="fa fa-envelope-open"></i>
               </small>
               <h5>Abbesh Chatterjee</h5>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">...</a>
                   </div>
       </div></a>
       <a href="#right-body"><div class="user-messages">
           <img src="/assets/icons/1x/dp.png" width="75px" class="user-dp">
           
           <div class="message-text" >
               <small class="time-stamp">25 june</small>
               <small class="msg-opt"><i class="fa fa-trash"></i>
                   <i class="fa fa-envelope-open"></i>
               </small>
               <h5>Abbesh Chatterjee</h5>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">...</a>
                   </div>
       </div></a>
       <a href="#right-body"><div class="user-messages">
           <img src="/assets/icons/1x/dp.png" width="75px" class="user-dp">
           
           <div class="message-text" >
               <small class="time-stamp">25 june</small>
               <small class="msg-opt"><i class="fa fa-trash"></i>
                   <i class="fa fa-envelope-open"></i>
               </small>
               <h5>Abbesh Chatterjee</h5>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">...</a>
                   </div>
       </div></a>
       <a href="#right-body"><div class="user-messages">
           <img src="/assets/icons/1x/dp.png" width="75px" class="user-dp">
           
           <div class="message-text" >
               <small class="time-stamp">25 june</small>
               <small class="msg-opt"><i class="fa fa-trash"></i>
                   <i class="fa fa-envelope-open"></i>
               </small>
               <h5>Abbesh Chatterjee</h5>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">...</a>
                   </div>
       </div></a>
       
       

       
   </div>
    </div>
    <div class="right-container" id="right-body">
       <div class="message-here">
           <h4> New Message</h4>
       </div>
       <input class="form-control search-name" placeholder="type a name or multiple name">
       <div class="message-body">
           <div class="message-profile">
               <img src="/assets/icons/1x/dp.png" class="profile-img" width="100px"><br>
               <span class="name">Abeesh Chatterjee</span><br>Software Engineer
               <div style="width: 100%; height: 20px; border-bottom: 1px solid gray; text-align: center">
                   <span style="font-size: 20px; background-color: white; padding: 0 10px; color: gray;">
                     today <!--Padding is optional-->
                   </span>
                 </div>
                 <div class="msg-box">
                     <img src="/assets/icons/1x/dp.png" class="box-dp" width="50px">
                     <div class="box-text">
                         <h6>Abeesh Chatterjee<small class="box-timeStamp">1:20pm</small></h6>
                         <div class="msg-content">
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                       </div>
                       </div>
                 </div>
                 <div class="msg-box">
                     <img src="/assets/icons/1x/dp.png" class="box-dp" width="50px">
                     <div class="box-text">
                         <h6>Dinesh Chatterjee<small class="box-timeStamp">1:20pm</small></h6>
                         <div class="msg-content">
                         Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                       </div>
                       </div>
                 </div>
               
           </div>
       </div>
       <textarea class="form-control" rows="3" placeholder="Write a message.."></textarea>
       <div class="attach-section">
           <h3>
           <i class="fa fa-image"></i>
           <i class="fa fa-paperclip"></i>
           <!-- <i >
               <svg class="emoji" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
               <g>
                   <g>
                       <path d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M256,480
                           C132.288,480,32,379.712,32,256S132.288,32,256,32s224,100.288,224,224S379.712,480,256,480z"/>
                   </g>
               </g>
               <g>
                   <g>
                       <circle cx="176" cy="176" r="32"/>
                   </g>
               </g>
               <g>
                   <g>
                       <circle cx="336" cy="176" r="32"/>
                   </g>
               </g>
               <g>
                   <g>
                       <path d="M368,256c0,61.856-50.144,112-112,112s-112-50.144-112-112h-32c0,79.529,64.471,144,144,144s144-64.471,144-144H368z"/>
                   </g>
               </g>
               
               </svg>
               </i> -->
               <button class="btn btn-success send-btn disable">Send</button>

           </h3>
       </div>
   </div>
</div>