<div class="mainbody">
    <div class="header">
        <h2>Jobs you have applied for</h2>
    </div>
    <div class="place" *ngIf="appliedJobList?.length">
        <div class="card" style="width: 100%;" *ngFor="let job of appliedJobDetailList">
            <div class="card-body">
                <div id="symbols">
                    <h5>Accepted</h5>
                </div>
                <img class="card-img" src="/assets/icons/1x/bulb.png" alt="Card image cap" width="14px" height="14px">
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">{{job?.company_mail}}</h4>
                        <span class="card-text">{{job?.location_District}}, {{job?.location_State}}</span><br>
                        <span class="card-text">{{job?.job_title}}</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="no-data" *ngIf="!appliedJobList?.length">No Applied Jobs!</div>
</div>