<div class="mainbody">
    <div class="header">
        <h2>Jobs you have applied for</h2>
    </div>
    <div class="place" *ngIf="appliedJobList?.length">
        <div class="card" style="width: 100%;" *ngFor="let appliedJob of appliedJobList">
            <div class="card-body">
                <div id="symbols">
                    <h5>{{appliedJob?.company_action}}</h5>
                </div>
                <img class="card-img" src="{{appliedJob?.job?.company_logo}}" style="width: 40px; height: 40px; border-radius: 50%;" alt="Card image cap" width="14px"
                    height="14px">
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">{{appliedJob?.job?.company_mail}}</h4>
                        <span class="card-text">{{appliedJob?.job?.location_District}},
                            {{appliedJob?.job?.location_State}}</span><br>
                        <span class="card-text">{{appliedJob?.job?.job_title}}</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="no-data" *ngIf="!appliedJobList?.length">No Applied Jobs!</div>
</div>