<div class="mainbody">
    <div class="header">
        <h2>Instant apply jobs</h2>
    </div>
    <div class="place">
        <div class="card" style="width: 100%;">
            <div class="card-body">

                <img class="card-img" src="{{companyObj?.logo}}" alt="Card image cap">
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">{{jobObj?.company?.name}}</h4>
                        <span class="card-text">{{jobObj?.company?.location}}</span><br>
                        <span class="card-text">{{jobObj?.job_title}}</span>
                    </a>
                </div>

            </div>
        </div>
        <form [formGroup]='uploadResumeForm'>

            <h3>Add an optional message to the Employer</h3>
                <div>

                    <input class="form-control" id="frm2" placeholder="Your message here..."
                        formControlName="text">
                </div>
                <div class="heading1 ">
                    <h3 class="left">Upload video resume</h3>
                    <img class="vid-img" src="/assets/icons/1x/video.png">

                </div>
                <div id="des1">
                    Upload your video resume (not more than 30 sec)
                    <input class="form-control" id="frm2" type="file" (change)="onResumeUpload($event);">
                </div>
                <button class="btn btn-primary apply" (click)="displayPopup();">Apply</button>
                <div id="profile-share" style="display: none;" #profileShare>
                    Application and video Profile will be shared with job poster.
                    <button class="btn btn-primary cont" (click)="onSubmit();">Continue</button>
                </div>
        </form>
    </div>
</div>