<app-navbar></app-navbar>
<div class="container Invite-txt">
    <h4>Invite your contacts onto holagraph to keep up with their careers.</h4>

  </div>
  <div class="container Invite-body">
      <div class="invite-head">
    <input type="checkbox" class="check"> Select All (0)<button class="btn skip-btn">Skip</button> <button class="btn invite-btn">Invite</button>
</div>
  <div class="row">
      <div class="contact">          <input type="checkbox" class="check">
        <span>abbesh chatterjee</span><br>xyz@gmail.com</div>
      <div class="contact"><input type="checkbox" class="check"><span>abbesh chatterjee</span><br>xyz@gmail.com</div>
  </div>
  <div class="row">
      <div class="contact"><input type="checkbox" class="check"><span>abbesh chatterjee</span><br>xyz@gmail.com</div>
      <div class="contact"><input type="checkbox" class="check"><span>abbesh chatterjee</span><br>xyz@gmail.com</div>
  </div>
  <div class="row">
      <div class="contact"><input type="checkbox" class="check"><span>abbesh chatterjee</span><br>xyz@gmail.com</div>
      <div class="contact"><input type="checkbox" class="check"><span>abbesh chatterjee</span><br>xyz@gmail.com</div>
  </div>
  <div class="row">
      <div class="contact"><input type="checkbox" class="check"><span>abbesh chatterjee</span><br>xyz@gmail.com</div>
      <div class="contact"><input type="checkbox" class="check"><span>abbesh chatterjee</span><br>xyz@gmail.com</div>
  </div>
  <div class="row">
      <div class="contact"><input type="checkbox" class="check"><span>abbesh chatterjee</span><br>xyz@gmail.com</div>
      <div class="contact"><input type="checkbox" class="check"><span>abbesh chatterjee</span><br>xyz@gmail.com</div>
  </div>
</div>