<div class="container main-body" style="margin-top: 100px;">
    <img src="assets/icons/1x/dp.png" width="120px" height="120px" class="float-left">
    <div class="featured-info">
        <span> Mr. Arjun Bhaskaran </span><br>
        Vice President,<br>
        Infolife Technologies Ltd. Bangalore
    </div>
    <hr>
    <h1>Interview Questions</h1>

    <ul class="accordion">
        <li>
            <a>What is your assessment of the state of the nursing profession in India? And its
                prospects?</a>
            <p>In India, all stakeholders - hospitals, doctors, patients, government - are aware of the critical role
                of the nursing profession. But as the Indian Medical Association pointed out on the International
                Day of Nursing 2020, nursing as a career and profession has remained under-acknowledged.
                The compensation, career prospects, working conditions, social net facilities are not adequate. </p>
            <p>However, two developments are set to correct this situation soon. First, the designation of 2020
                as the International Year of the Nurses. Second, the Corona virus crisis. The prospects for the
                nursing professionals are excellent in India and in the global market. Before the onset of
                Covid-19, the WHO estimated that there are 28 million nurses globally, and that there was a
                shortage of 6 million nurses. During the Corona crisis, affluent countries like USA, Europe
                suffered more despite having excellent medical facilities and the medical personnel. This is
                going to widen the global shortage and will lead to higher demand for nursing professionals.</p>
        </li>
        <li>
            <a>What are the implications for Nursing in India?</a>
            <p>India has 2.8 million qualified nurses and an annual training capacity of 2 lakh nurses. Apart
                from Covid19, the population as well as the medical workforce of doctors and nursing
                professionals in North America, Europe and Japan, are aging. Therefore, salary and perks for
                nursing in advanced countries may improve further. This will provide wider career opportunities
                for qualified and experienced nurses from India to emigrate to advanced countries. It could also
                lead to pressure on the Indian healthcare system</p>
        </li>
        <li>
            <a>What is the suggested response to these developments?</a>
            <p>The Indian government, Nursing Council and the healthcare industry, should respond to the
                post-Corona opportunities and should have a twin response. First, the compensation, facilities,
                working conditions of nurses employed in India, should be upgraded substantially. Second, the
                education, training, skilling of nurses must be expanded and upgraded, to address global
                opportunities.</p>
        </li>
        <li>
            <a>What are the specific recommended measures in this regard?</a>
            <p>In the area of compensation, benefits and working conditions; four measures are recommended
                - 1) Salary for nursing has to be improved substantially and urgently, by effecting a 50-100%
                hike 2) Liberal Social security Benefits like Health insurance, Retirement Plans have to be
                provided by employers 3) Occupation Health measures like protective equipment and Safety
                and Protection from Harassment, Violence 4) Professional Training, Upgradation and
                Empowerment to handle higher responsibilities in Telemedicine, Diagnostics, Chronic Disease
                Management, will provide career advancement opportunities.</p>
        </li>
        <li>
            <a>But hospitals in the private sector are financially struggling. How can they balance the
                above measures?</a>
            <p>The Government has to step in and recognize Nursing as an important investment into the
                health and future of the country. The Government should consider subsidising the private
                hospitals to meet these requirements. The current healthcare delivery model in India, is skewed
                towards technology investments, facilities instead of human touch and care. It is also skewed
                toward surgical care rather than medical management and preventive healthcare. Because of
                this imbalance, a big share of hospital revenues are appropriated by capital investments and
                specialist doctors, leaving very little for general physicians and nurses.</p>
            <p>The Government should recognize Nursing as a great economic and social opportunity, where
                India can train and export nursing talent to address unmet health needs in other countries.
                Government facilitated nursing emigration can provide sustainable foreign remittances, in later
                years. Improving the compensation and benefits for currently employed nurses in India, is
                necessary to incentivise expansion and upgrade of the Indian Nursing education infrastructure.</p>
            <p>The CII President, Mr.Uday Kotak has recommended that the investment in Healthcare should
                be increased from 1% of GDP to 5-10%. Investing in Nursing will require a small fraction of
                these investments. As the WHO and World Economic Forum have pointed out, investment in
                nursing will lead to a healthier India through Universal Primary Healthcare and Health
                Prevention.</p>
        </li>
        <li>
            <a>What are the recommended measures for India's Nursing education and training system?t</a>
            <p>To meet India’s future need for nurses and to support global requirements, India’s nursing
                education system has to double or triple its capacity, in the next 2-3 years. Also,the quality of
                nursing education has to be upgraded to include Telemedicine, Digital Health, latest
                developments in diagnostics, wearables, etc. The nursing education system and the
                Government of India, should collaborate with foreign countries that have an acute shortage of
                nurses, to provide additional training in foreign languages, cultural aspects, etc which will enable
                nurses to emigrate and operate in foreign countries.</p>
        </li>
    </ul> <!-- / accordion -->
</div>