<div class="mainbody">
    <div class="header">
        <h2>Jobs you have saved</h2>
    </div>
    <div class="place" *ngIf="savedJobList?.length">
        <h4 style="text-align: center;"> Number of Saved Jobs - {{savedJobList.length}}</h4>  
        <div class="card" style="width: 100%;" *ngFor="let job of jobDetailList">
            <div class="card-body">
                <div id="symbols">
                    <img src="/assets/icons/1x/filled-star.png" (click)="unsaveJob(job)" style="cursor: pointer;" alt="" width="14px" height="14px">
                    <span id="space"></span>
                    <img src="/assets/icons/1x/close.png" (click)="unsaveJob(job)" style="cursor: pointer;" alt="" width="10px" height="12">
                    <span id="space"></span>
                    <img *ngIf="!job?.isFav" src="/assets/icons/1x/bookmark_empty.png" (click)="favouriteJob($event, job)" style="cursor: pointer;" alt="" width="10px" height="12">
                    <img *ngIf="job?.isFav" src="/assets/icons/1x/bookmark_fill.png" (click)="onUnFavouriteJob($event, job.id)" style="cursor: pointer;" alt="" width="10px" height="12">

                </div>
                <img class="card-img" src={{job?.company?.logo}} alt="Card image cap" style="width: 50px; height: 50px; border-radius: 50%;">
                <div id="crdtxt">
                    <a style="cursor: pointer;">
                        <h4 class="card-title" routerLink="/jobs/description/{{job?.id}}">{{job?.job_title}}</h4>
                        <span class="card-text">{{job?.location_District}} {{job?.location_State}}</span><br>
                        <span class="card-text">{{job?.job_role}}</span>
                    </a>
                    <!-- <p style="text-align: center;top: 70%;">hello everyone</p> -->
                </div>
                  
            </div>
        </div>
    </div>
    <div *ngIf="!jobDetailList?.length" class="no-data">No saved jobs!</div>
</div>