nav {
  height: 65px;
}
.navbar-icon-top .navbar-nav .nav-link .link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}
.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}
.imgp{
  text-align: center;
}
img
.nav-link, .navbar-brand {
  color: white;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 456px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
  .navbar-brand{
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
  .navbar-brand{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
  }
  .placement{
    margin-top: -27px;
    margin-right: -25px;
    margin-left: 25px;
  }
  .placement2{
    display: inline-block;
    position: relative;
    top: 12px;
    left: -30px;
  }
  .placement3{
    margin-top: -20px;
    margin-right: -5px;
    margin-left: 16px;
  }
  .placement4{
    display: none;
  }
  .toLeft{
    margin-left: -25px;
  }
  .img1{
    margin-top: -20px;
  }
  .toLeft1{
    margin-left: -20px;
  }
}

nav{
  background-color: teal;
}
.nav-item{
  color: white;
}
.nav-item:hover{
  background-color: white;
  color: black;
}
.drop-items{
  display:none;
  position: relative;
  width: fit-content;
  background-color:white;
  border: black solid 1px;
  z-index: 5;
  
}
.nav-item:hover>.drop-items{
  display: block;
  position: absolute;
}
.navbar-nav{
  padding-right: 120px;
}
.drop-items>p{
  padding-left: 10px;
  padding-right: 30px;
  cursor: pointer;
}

.navbar-dp {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  left: 5px;
}