<nav class="navbar navbar-icon-top navbar-expand-lg navbar ">
  <a class="navbar-brand" href="#">HOLOGRAPH</a>
  <form id="frm">
    <div class="input-group">
      <input type="text" class="form-control frm1" placeholder="Search">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
          <i class="glyphicon glyphicon-search"><img src="/assets/icons/1x/Asset 1.png" width="17px"></i>
        </button>
      </div>
    </div>
  </form>
  <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"><img src="/assets/icons/1x/Asset 3.png" height="20px" width="20px"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-envelope-o">
            <img src="/assets/icons/1x/Asset 4.png " width="20px">
          </i>
          Jobs
        </a>
      </li>
      <div id="notification" (click)="displaynotification()" style="display: block;">
      <li class="nav-item">
        <button class="nav-link">
        <a class="link" href="#">
          <i class="fa fa-envelope-o">
            <img src="/assets/icons/1x/Asset 5.png " width="20px">
          </i><br>
          Notification
        </a>
      </button>
      </li>
      </div>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-envelope-o">
            <img src="/assets/icons/1x/Asset 10.png " width="20px">
          </i>
          Learning Centre
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-envelope-o">
            <img src="/assets/icons/1x/Asset 7.png " width="20px">
          </i>
          Micro Projects
        </a>
      </li>
      <div id="myprofile" (click)="displaymyprofile()" style="display: block;">
      <li class="nav-item">
        <button class="nav-link">
        <a class="link" href="#">
          <i class="fa fa-envelope-o">
            <img src="/assets/icons/1x/Asset 8.png " width="20px">
          </i><br>
          My Profile
        </a>
      </button>
      </li>
      </div>
      <div id="more" (click)="displaymore()" style="display: block;">
      <li class="nav-item">
        <button class="nav-link" >
          <a class="link" href="#">
            <i class="fa fa-envelope-o">
              <img class="img1" src="/assets/icons/1x/Asset 9.png " width="20px">
            </i>
            <br>
            More
          </a>
        </button>
      </li>
      </div>
  </ul>


  </div>
</nav>
<div  id="filter-data" style="display: none;" #more>
    <p>Register as a Holograph Micro Loan provider Partner</p>
    <hr>
    <p>Register as a Holograph Traning Partner</p>
    <hr>
    <p>Post a job</p>
    <hr>
    <p>Create a company page</p>
    <hr>
    <p>My job postings</p>
    <hr>
    <p>View my loan application</p>
    <hr>
    <p>Loan provider Tab</p>
</div>
<div  id="filter-data" style="display: none;" #myprofile>
  <div class="imgp">
    <img src="/assets/icons/1x/sdp.png"><br><h3>Natasha kulkarni</h3><br><p>Luckhnow,India</p>
  </div>
<hr>
<p>View your Profile</p>
<hr>
<p>Company Pages Managed</p>
<hr>
<p>View Saved Jobes</p>
<hr>
<p>View Applied Jobs</p>
<hr>
<p>Take a Holograph Skill Test</p>
<hr>
<p>Privacy Settings</p>
<hr>
<p>Log Out</p>
</div>
<div  id="filter-data" style="display: none;" #notification>
  <p>Register as a Holograph Micro Loan provider Partner</p>
  <hr>
  <p>Register as a Holograph Traning Partner</p>
  <hr>
  <p>Post a job</p>
  <hr>
  <p>Create a company page</p>
  <hr>
  <p>My job postings</p>
  <hr>
  <p>View my loan application</p>
  <hr>
  <p>Loan provider Tab</p>
</div>