<!-- <nav class="navbar fixed-top navbar-icon-top navbar-expand-lg navbar">
  <a class="navbar-brand" routerLink="professional-networking/me">holagraph</a>
  <form id="frm" class="search-bar">
    <div class="input-group" style="width: 80% !important;
    position: relative !important;
    left: 3% !important;">
      <input type="text" name="search" class="form-control frm1" placeholder="Search" [(ngModel)]="searchKey">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" (click)="displaysearch()"
          style="position: relative;right: 45px;z-index: 5">
          <i class="glyphicon glyphicon-search"><img src="/assets/icons/1x/newAsset3.png" width="17px"></i>
        </button>
      </div>
    </div>
  </form>
  <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="position: relative;
    bottom: 7px;">
      <span tooltip="Home" placement="bottom" show-delay="500">

        <li class="nav-item active" [routerLink]="['/in/feed']">
          <a class="nav-link">
            <i class="fa fa-envelope-o">
              <img src="/assets/icons/1x/homeAsset.png " width="20px" height="25px">
            </i>
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </span>
     
     

      <span tooltip="Notifications" placement="bottom" show-delay="500">
       
        <div id="notification" routerLink="/in/notifications">
          <li class="nav-item">
            <a class="nav-link">
              <i class="fa fa-envelope-o ">
                <svg>
                  <path class="notification--bell"
                    d="M14 12v1H0v-1l0.73-0.58c0.77-0.77 0.81-3.55 1.19-4.42 0.77-3.77 4.08-5 4.08-5 0-0.55 0.45-1 1-1s1 0.45 1 1c0 0 3.39 1.23 4.16 5 0.38 1.88 0.42 3.66 1.19 4.42l0.66 0.58z">
                  </path>
                  <path class="notification--bellClapper" d="M7 15.7c1.11 0 2-0.89 2-2H5c0 1.11 0.89 2 2 2z"></path>
                </svg>
              </i>
            </a>
          </li>
        </div>
      </span>
      <span tooltip="Messages" placement="bottom" show-delay="500">
        <li class="nav-item" [routerLink]="['/chat']">
          <a class="nav-link">
            <i class="fa fa-envelope-o">
              <img src="/assets/icons/1x/message.png " width="20px" height="25px">
            </i>
          </a>
        </li>
      </span>
     
      <span placement="bottom" show-delay="500">
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-envelope-o">
              <img src="/assets/icons/1x/jobAsset.png " width="20px" height="25px">
            </i>
          </a>
          <div class="drop-items">
            <p [routerLink]="['/jobs/various-sectors']">Search Jobs</p>
            <hr>
            <p [routerLink]="['/jobs/saved-jobs']">Saved Jobs</p>
            <hr>
            <p [routerLink]="['/jobs/applied-jobs']">Applied Jobs</p>
            <hr>
            <p [routerLink]="['/jobs/user-account']">Jobs Dashboard</p>
          </div>
        </li>
      </span>
      <span tooltip="Learning" placement="bottom" show-delay="500">
        <li class="nav-item toLeft">
          <a class="nav-link">
            <i class="fa fa-envelope-o">
              <img src="/assets/icons/1x/learning.png " width="20px" height="25px">
              
            </i>
          </a>
        </li>
      </span>
      <span tooltip="Projects" placement="bottom" show-delay="500">
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-envelope-o">
              <img src="/assets/icons/1x/Asset 7.png " width="20px" height="25px">
            </i>
          </a>
        </li>
      </span>
      <span tooltip="Finance" placement="bottom" show-delay="500">
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-envelope-o">
              <img src="/assets/icons/1x/finance_image.png" width="20px" height="25px">
            </i>
          </a>
        </li>
      </span>
      
      <span tooltip="Networking" placement="bottom" show-delay="500">

        <li class="nav-item active" >
          <a class="nav-link">
            <i class="fa fa-envelope-o">
              <img src="/assets/icons/1x/network_image.png " width="20px" height="25px">
            </i>
          </a>
            <div class="drop-items">
              <p [routerLink]="['/in/mynetwork']">My Connections</p>
              <hr>
              <p [routerLink]="['/email-invite']">Invite Contact</p>
              <hr>
              <p [routerLink]="['/in/import-contact']">Import Contact</p>
             
            </div>        
        </li>
      </span>

      <li class="nav-item">
        <a class="nav-link">
          <i class="fa fa-envelope-o">
            <img class="navbar-dp" src="{{userDetails?.photo}}" width="20px">
          </i>
          Me
        </a>
        <div class="drop-items">
          <div class="imgp"><br>
            <img src="{{userDetails?.photo}}" width="80px" height="80px" style="border-radius: 50%;">
            <br>
            <h3>{{userDetails?.first_name}} {{userDetails?.last_name}}</h3>
          </div>
          <hr>
          <p [routerLink]="['/in', userDetails?.slug]">View my profile</p>
          <hr>
          
          <p [routerLink]="['/in/privacy/settings']">Privacy Settings</p>
          <hr>
          <p (click)="onLogout();">Log Out</p>
        </div>
      </li>
      <span tooltip="" placement="bottom" show-delay="500">
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-envelope-o">

              <img src="/assets/icons/1x/nav_icon1.png" width="20px" height="25px">

            </i>
          </a>
    
          <div class="drop-items">
            <div class="nav-item nav-item2">
              <p class="drop-content">Job Provider</p>
              <div class="drop-items drop-items3">
                <p class="drop-content" class=provider- routerLink="/in/create-company">Create JPO</p>

                <p class="drop-content" class=provider- routerLink="/jobs/post-job">Post Job</p>

                <p class="drop-content" routerLink="/jobs/job-postings">Jpo Dashboard </p>

              </div>
            </div>
           
            <div class="nav-item nav-item2 " style="margin-top: 10px;">
              <p class="drop-content">Micro project provider</p>

            </div>


            <div class="nav-item nav-item2">
              <p class="drop-content">Training provider</p>
              <div class="drop-items drop-items2">
                <p class="drop-content">Register as TPO</p>

                <p class="drop-content">Post Content</p>

                <p class="drop-content"> TPO Dashboard </p>

              </div>
            </div>

            <div class="nav-item nav-item2">
              <p class="drop-content">Finance Provider</p>
              <div class="drop-items drop-items2">
                <p class="drop-content">Register as FPO</p>

                <p class="drop-content">Post Content</p>

                <p class="drop-content">FPO Dashboard </p>

              </div>
            </div>



          </div>

        </li>
      </span>
      <li class="nav-item">
        <a class="nav-link" style="position: relative;
            top: 2px;">
          <i class="fa fa-envelope-o">
            <img class="img1" src="/assets/icons/1x/Asset 9.png " width="20px">
          </i>
          More
        </a>
       
      </li>
    </ul>
  </div>
</nav> -->



<div id="user_search" style="display: none;" #networking>
  <ng-container *ngFor="let user of userlist">
    <div class="imgp">
      <p>>
        {{user.name}}</p>
    </div>
  </ng-container>
</div>


<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light " >
  <a class="navbar-brand" routerLink="professional-networking/me">holagraph</a>
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 search-form" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchKey" name="search">
      <button class="btn search-icon " type="submit"><img src="assets/icons/1x/newAsset3.png" width="20px" (click)="displaysearch()"></button>
    </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <span tooltip="Home" placement="bottom" show-delay="500">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/in/feed']"><img src="/assets/icons/1x/homeAsset.png " width="26px"> <span class="sr-only">(current)</span><span class="nav-text">Home</span></a>
      </li>
      </span>
      <span tooltip="Notifications" placement="bottom" show-delay="500">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/in/notifications"><img src="/assets/icons/1x/newBell.png" width="26px"> <span class="sr-only">(current)</span><span class="nav-text">Notification</span></a>
      </li>
      </span>
      <span tooltip="Messages" placement="bottom" show-delay="500">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/chat']"><img src="/assets/icons/1x/msg.png" width="26px" style= "margin-top: 5px;"> <span class="sr-only">(current)</span><span class="nav-text">Messages</span></a>
      </li>
      </span>
      <span tooltip="Jobs" placement="bottom" show-delay="500">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="assets/icons/1x/jobAsset.png" style="cursor:pointer;" width="26px"><span class="nav-text">Jobs</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/jobs/various-sectors']">Search Jobs</a>
            <a class="dropdown-item" [routerLink]="['/jobs/saved-jobs']">Saved Jobs</a>
            <a class="dropdown-item" [routerLink]="['/jobs/applied-jobs']">Applied Jobs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/jobs/user-account']">Jobs Dashboard</a>
          </div>
        </li>
        </span>
        <span tooltip="Learning Center" placement="bottom" show-delay="500">
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="/assets/icons/1x/learning.png" width="23px" height="26px"> <span class="sr-only">(current)</span><span class="nav-text">Learning Center</span></a>
        </li>
        </span>
        <span tooltip="Projects" placement="bottom" show-delay="500">
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="/assets/icons/1x/Asset 7.png" width="26px"> <span class="sr-only">(current)</span><span class="nav-text">Projects</span></a>
        </li>
        </span>
        <span tooltip="Finance Center" placement="bottom" show-delay="500">
        <li class="nav-item active">
          <a class="nav-link" href="#"><img src="/assets/icons/1x/finance_image.png" width="26px"> <span class="sr-only">(current)</span><span class="nav-text">Finance</span></a>
        </li>
        </span>
        <span tooltip="My Network" placement="bottom" show-delay="500">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="assets/icons/1x/network_image.png" width="26px"><span class="nav-text">Connection</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/in/mynetwork']">My Connection</a>
            <a class="dropdown-item" [routerLink]="['/email-invite']">Invite Contact</a>
            <a class="dropdown-item" [routerLink]="['/import-contact']">Import Contact</a>
          </div>
        </li>
        </span>
        <span tooltip="Me" placement="bottom" show-delay="500">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="{{userDetails?.photo}}" width="26px" class="user-dp"><br><span class="Dnav">Me</span><span class="nav-text">Me</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" ><img src="{{userDetails?.photo}}" width="80px" height="80px" style="border-radius: 50%;" class="user-dp2"><br><h3>{{userDetails?.first_name}} {{userDetails?.last_name}}</h3></a>
            <a class="dropdown-item"  [routerLink]="['/in', userDetails?.slug]">View my profile</a>
            <a class="dropdown-item" [routerLink]="['/in/privacy/settings']">Privacy Setting</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="onLogout();">Log out</a>
          </div>
        </li>
        </span>
        <span tooltip="provider Center" placement="bottom" show-delay="500">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="assets/icons/1x/nav_icon1.png" width="26px" height="26px"><span class="nav-text">Provider</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="#" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Job Provider</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"  routerLink="/in/create-company" >Create JPO</a>
              <a class="dropdown-item" routerLink="/jobs/post-job">Post JPO</a>
              <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/jobs/job-postings">JPO Dashboard</a>
            </div>
            <a class="dropdown-item" href="#">Micro Project Provider</a>
            
            <a class="dropdown-item" href="#" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Training Provider</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <button class="dropdown-item" type="button">Create TPO</button>
              <button class="dropdown-item" type="button">Post TPO</button>
              <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button">TPO Dashboard</button>
            </div>
            <a class="dropdown-item" href="#">Finance Provider</a>
     
          </div>
        </li>
        </span>
        <span tooltip="More" placement="bottom" show-delay="500">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="assets/icons/1x/Asset 9.png" width="26px" ><span class="nav-text">More</span>
          </a>
         
        </li>
     </span>
    </ul>
    
  </div>
</nav>
<div id="filter-data" style="display: none; overflow: scroll;" #notification>
  <img src="./assets/icons/1x/close.png" style="width: 12px;
  float: right;
  margin-right: 10px;" (click)="hideNotifications();">
  <div *ngFor="let data of notifList" style="margin-top: 15px;">
    <div class="imgp">
      <p>>
        {{data?.text}}</p>
    </div>
  </div>
</div>