
<nav class="navbar navbar-icon-top navbar-expand-lg navbar ">
  <a class="navbar-brand" routerLink="professional-networking/me">holagraph</a>
  <form id="frm">
    <div class="input-group">
      <input type="text" name="search" class="form-control frm1" placeholder="Search" [(ngModel)]="searchKey">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit" (click)="displaysearch()">
          <i class="glyphicon glyphicon-search"><img src="/assets/icons/1x/Asset 1.png" width="17px"></i>
        </button>
      </div>
    </div>
  </form>
  <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"  [routerLink]="['/']">
        <a class="nav-link">
          <i class="fa fa-home" ><img src="/assets/icons/1x/Asset 3.png" height="22px" width="20px"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li class="nav-item"  [routerLink]="['/jobs/various-sectors']">
        <a class="nav-link">
          <i class="fa fa-envelope-o">
            <img src="/assets/icons/1x/Asset 4.png " width="20px" height="23px">
          </i>  
          Jobs
        </a>
      </li>
      <div (click)="displaynotification()" style="padding-right: 20px;">
        <li class="nav-item">
            <a class="nav-link">
              <i class="fa fa-envelope-o">
                <img src="/assets/icons/1x/Asset 5.png " width="20px">
              </i>
              Notification
            </a>
        </li>
      </div>
      <li class="nav-item toLeft" >
        <a class="nav-link">
          <i class="fa fa-envelope-o">
            <img src="/assets/icons/1x/Asset 10.png " width="20px" height="25px" >
          </i>
          Learning Centre
        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link">
          <i class="fa fa-envelope-o">
            <img src="/assets/icons/1x/Asset 7.png " width="20px" height="25px">
          </i>
          Micro Projects
        </a>
      </li>
        <li class="nav-item">
            <a class="nav-link">
              <i class="fa fa-envelope-o">
                <img src="/assets/icons/1x/Asset 8.png " width="20px">
              </i>
              My Profile
            </a>
            <div class="drop-items">
              <div class="imgp"><br>
                <img src="/assets/icons/1x/sdp.png"><br>
                <h3>{{userDetails?.first_name}} {{userDetails?.last_name}}</h3>
              </div>
              <hr>
              <p [routerLink]="['/professional-networking/myprofile-editable']">View your Profile</p>
              <hr>
              <p [routerLink]="['/professional-networking/company-management']">Company Pages Managed</p>
              <hr>
              <p [routerLink]="['/jobs/saved-jobs']">View Saved Jobes</p>
              <hr>
              <p [routerLink]="['/jobs/applied-jobs']">View Applied Jobs</p>
              <hr>
              <p [routerLink]="['/jobs/skills-test']">Take a Holograph Skill Test</p>
              <hr>
              <p [routerLink]="['/professional-networking/privacy-settings']">Privacy Settings</p>
              <hr>
              <p (click)="onLogout();">Log Out</p>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link">
              <i class="fa fa-envelope-o">
                <img class="img1" src="/assets/icons/1x/Asset 9.png " width="20px">
              </i>
              More
            </a>
            <div class="drop-items">
              <!-- <p>Register as a Holograph Micro Loan provider Partner</p>
              <hr> -->
              <!-- <p>Register as a Holograph Traning Partner</p>
              <hr> -->
              <p [routerLink]="['/jobs/post-job']">Post a job</p>
              <hr>
              <p [routerLink]="['/professional-networking/create-company']">Create a company page</p>
              <hr>
              <p [routerLink]="['/jobs/job-postings']">My job postings</p>
              <hr>
              <!-- <p>View my loan application</p>
              <hr>
              <p>Loan provider Tab</p> -->
            </div>
        </li>
    </ul>
  </div>
</nav>


<div class="notifi">
  <ng-container *ngFor="let data of notifList">
    <div *ngIf="!isCollapsed" style="border-bottom: black solid 1px;">
      <p>
        {{data?.text}}</p>
    </div>
  </ng-container>
</div>
<div id="user_search" style="display: none;" #networking>
  <ng-container *ngFor="let user of userlist">
    <div class="imgp">
      <p>
        {{user.name}}</p>
    </div>
  </ng-container>
</div>
