.navbar{
  background-color: teal !important;
  padding: 0px;
 
  /* width: 100%; */
}

.navbar-nav li{

  height: 60px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.navbar-nav li:hover{
  background-color: rgb(6, 100, 100);
}
.navbar-brand{
  color: white !important;
  font-size: 28px !important;
  letter-spacing: 1.5px;
  margin-left: 60px;
}
.user-dp{
  border-radius: 50%;
  height: 26px;
  margin-top: -10px;
}
.search-icon{
  background-color: white;
  margin-left: -13px;
  padding: 8px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.search-form{
  width: 250px !important;
}
.navbar-nav{
  margin-right: 80px;
}
.nav-link{
  margin-top: 5px;
  color: white  !important;

}
.nav-text{
  margin-left: 10px;
}
@media(min-width: 1100px){
  .nav-text{
 display: none;

}
}
@media(max-width: 800px){
.Dnav{
display: none;
}
}
.user-dp2{
width: 80px;
height: 80px;
border-radius: 50%;
margin-bottom: 10px;
margin-left: 25%;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);  
transition: all 0.3s cubic-bezier(.25,.8,.25,1);

 }
 .user-dp2:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
 }
.search-form{
margin-left: 30px;
}
.div{
width: 100%;
height: 2000px;
background-color: rgb(119, 128, 0);
}
.Dnav{
display: inline;
}
.dropdown-menu{
z-index: 50000000054531435468546351 !important;
}
.tpo-drop{
background-color: white;
position: absolute;
right: 70px;
top: 150px;
display: none;
border-radius: 5px;
border: 1px solid lightgray;
}