<div class="experience">
    <div class="container experience-body">
        <h1>Edit Education</h1>
        <img src="/assets/icons/1x/close.png" width="20px" class="cancel-icon" (click)="_educationEdit.closeModal()">
        <hr>
        <form [formGroup]='educationEditForm'>

            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Institute  Name" formControlName="institute"
                [ngClass]="{'is-invalid':educationEditForm.get('institute').touched && educationEditForm.get('institute').invalid}">
            <div
                *ngIf="(educationEditForm.get('institute').invalid && educationEditForm.get('institute').touched) || educationEditForm.get('institute').dirty">
                <small *ngIf="educationEditForm.get('institute').errors?.required" class="text-danger"> Project
                    Institute is
                    required</small>
            </div>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Degree Name" formControlName="degree"
                [ngClass]="{'is-invalid':educationEditForm.get('degree').touched && educationEditForm.get('degree').invalid}">
            <div
                *ngIf="(educationEditForm.get('degree').invalid && educationEditForm.get('degree').touched) || educationEditForm.get('degree').dirty">
                <small *ngIf="educationEditForm.get('degree').errors?.required" class="text-danger"> Project
                    Degree is
                    required</small>
            </div>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Study Field" formControlName="study_field"
                [ngClass]="{'is-invalid':educationEditForm.get('study_field').touched && educationEditForm.get('study_field').invalid}">
            <div
                *ngIf="(educationEditForm.get('study_field').invalid && educationEditForm.get('study_field').touched) || educationEditForm.get('study_field').dirty">
                <small *ngIf="educationEditForm.get('study_field').errors?.required" class="text-danger"> Project
                    Study Field is
                    required</small>
            </div>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Grade" formControlName="grade"
                [ngClass]="{'is-invalid':educationEditForm.get('grade').touched && educationEditForm.get('grade').invalid}">
            <div
                *ngIf="(educationEditForm.get('grade').invalid && educationEditForm.get('grade').touched) || educationEditForm.get('grade').dirty">
                <small *ngIf="educationEditForm.get('grade').errors?.required" class="text-danger"> Project
                    Grade is
                    required</small>
            </div>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Link of Institute" formControlName="link"
                [ngClass]="{'is-invalid':educationEditForm.get('link').touched && educationEditForm.get('link').invalid}">
            <div
                *ngIf="(educationEditForm.get('link').invalid && educationEditForm.get('link').touched) || educationEditForm.get('link').dirty">
                <small *ngIf="educationEditForm.get('link').errors?.required" class="text-danger"> Project
                    Link is
                    required</small>
            </div>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Field of Study" formControlName="study_field"
                [ngClass]="{'is-invalid':educationEditForm.get('study_field').touched && educationEditForm.get('study_field').invalid}">
            <div
                *ngIf="(educationEditForm.get('study_field').invalid && educationEditForm.get('study_field').touched) || educationEditForm.get('study_field').dirty">
                <small *ngIf="educationEditForm.get('study_field').errors?.required" class="text-danger"> Project
                    Description is
                    required</small>
            </div>
          
            <input type="checkbox" #doesExpre formControlName="is_present" style="margin-bottom: 15px;"> You are still stydying
            
            <div>
                <input placeholder="Start Year" type="text" class="form-control" formControlName="start_year"
                    id="start_date" style="width: 100%;" />


                <input placeholder="End Year" type="text" *ngIf="!doesExpre.checked" class="form-control"
                    formControlName="end_year"
                    id="end_date" style="width: 100%;" />
                <p *ngIf="doesExpre.checked">Still studying</p>
            </div>

            <textarea class="form-control" placeholder="Description" formControlName="desc"></textarea>

            <button class="btn btn-primary" (click)="onSave()" style="width: 48%;">Save</button>
            <button class="btn btn-primary" (click)="onDelete()" style="width: 48%;margin-left:4% ;">Delete</button><br>

        </form>
    </div>
</div>