<body>
    <div class=" cont">
  <div class="float-left holagraph">
      <h1>holagraph</h1>
      <img src="assets/icons/1x/g80.png" class="holagraph-img" ><br>
      <span><b> Everything you need to turbocharge your career</b><br>
          Jobs<span class="dot"></span>Projects<span class="dot"></span>Learning<span class="dot"></span>Loans<span class="dot"></span>Networking
        </span>
  </div>
  <div class="float-right health">
    <h2>Launching soon!</h2>
    <span>
      If you would like to join the leading platform for the health sector, please enter your email ID below and get an invitation on launch.
    </span>
    <input class="effect-1" type="text" placeholder="Your Email" [(ngModel)]="email"><button class="float-right btn submit" (click)="storeEmail()">Submit</button>

      <img src="assets/icons/1x/health.png" class="health-img" >
  </div>
</div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

