<body>
    <div class=" cont">
  <div class="float-left holagraph">
      <h1>holagraph</h1>
      <img src="assets/icons/1x/g80.png" class="holagraph-img" ><br>
      <span><b> Everything you need to turbocharge your career</b><br>
          Jobs<span class="dot"></span>Projects<span class="dot"></span>Learning<span class="dot"></span>Loans<span class="dot"></span>Networking
        </span>
  </div>
  <div class="float-right health">
    <h2>Launching soon!</h2>
    <span>
      If you would like to join the leading platform for the health sector, please enter your email ID below and get an invitation on launch.
    </span>
    <input class="effect-1" type="text" placeholder="Your Email"><button class="float-right btn submit">Submit</button>
    <!-- <button type="button" class="g-signin2" (click)="onSignIn()">Google</button> -->
    <div class="row mt-5">
      <div class="col-md-4 mt-2 m-auto ">
          <button class="loginBtn loginBtn--google" #loginRef>
              Login with Google
            </button>
      </div>    
    </div>
      <img src="assets/icons/1x/health.png" class="health-img" >
  </div>
</div>
 
</body>

