<div class="container">
    <button id="more" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <img  src="C:/Users/Aditya/Desktop/internships/reach/india-clap-web/src/assets/icons/1x/Asset 9.png"><p>More</p>
    </button>
    <div class="dropdown-menu">
	  <a id="items" class="dropdown-item" href="#">Register as a Holograph Micro Loan provider Partner</a>
      <a id="items" class="dropdown-item" href="#">Register as a Holograph Traning Partner</a>
      <a id="items" class="dropdown-item" href="#">Post a job</a>
      <a id="items" class="dropdown-item" href="#">Create a company page</a>
      <a id="items" class="dropdown-item" href="#">My job postings</a>
      <a id="items" class="dropdown-item" href="#">View my loan application</a>
      <a id="items" class="dropdown-item" href="#">Loan provider Tab</a>
    </div>
</div>