<app-navbar></app-navbar>
<div class="container sync">
    <div class="sync-contact ">
      <h1><img src="./../../../assets/icons/1x/business-and-finance.png" class="" width="200px">
          See who you already know on <b>holagraph</b>
      </h1>

    </div>
    <div class="sync-contact-body ">
        <h3>Syncing your contacts is the fastest way to grow your network
      </h3>
      <input class="form-control" placeholder="xyz@email.com"><button class="btn continue-btn">Continue</button>
      <h4>Or use Gmail <img src="assets/icons/1x/email.png" width="35px" class="gmail"> </h4>
    </div>
  </div>