<div class="card loan-search-div mx-auto border">
    <div class="card-header bg-green-color">
      <h5 class="mt-1 whtcol proreg user-name">Your Loan Application</h5>
    </div>
    <div class="card-body">

        <div class="media mb-4 row">
          <img class="user-display" src="assets/dp.png" alt="">
          <div>
            <h2 class="proreg color-green user-name ml-4 mt-3" >Abesh Chatterjee</h2>
            <p class=" user-place ml-4">Kolkata, India</p>
          </div>
          <h3 class="col-sm-2 user-place mx-5 mt-4">$450000</h3>
          <div class="row ml-auto">
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Accept</button>
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Reject</button>
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Remove</button>
          </div>
        </div>

        <div class="media mb-4 row">
          <img class="user-display" src="assets/dp.png" alt="">
          <div>
            <h2 class="proreg color-green user-name ml-4 mt-3" >Abesh Chatterjee</h2>
            <p class=" user-place ml-4">Kolkata, India</p>
          </div>
          <h3 class="col-sm-2 user-place mx-5 mt-4">$450000</h3>
          <div class="row ml-auto">
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Accept</button>
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Reject</button>
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Remove</button>
          </div>
        </div>

        <div class="media mb-4 row">
          <img class="user-display" src="assets/dp.png" alt="">
          <div>
            <h2 class="proreg color-green user-name ml-4 mt-3" >Abesh Chatterjee</h2>
            <p class=" user-place ml-4">Kolkata, India</p>
          </div>
          <h3 class="col-sm-2 user-place mx-5 mt-4">$450000</h3>
          <div class="row ml-auto">
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Accept</button>
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Reject</button>
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Remove</button>
          </div>
        </div>

        <div class="media mb-4 row">
          <img class="user-display" src="assets/dp.png" alt="">
          <div>
            <h2 class="proreg color-green user-name ml-4 mt-3" >Abesh Chatterjee</h2>
            <p class=" user-place ml-4">Kolkata, India</p>
          </div>
          <h3 class="col-sm-2 user-place mx-5 mt-4">$450000</h3>
          <div class="row ml-auto">
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Accept</button>
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Reject</button>
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Remove</button>
          </div>
        </div>

        <div class="media mb-4 row">
          <img class="user-display" src="assets/dp.png" alt="">
          <div>
            <h2 class="proreg color-green user-name ml-4 mt-3" >Abesh Chatterjee</h2>
            <p class=" user-place ml-4">Kolkata, India</p>
          </div>
          <h3 class="col-sm-2 user-place mx-5 mt-4">$450000</h3>
          <div class="row ml-auto">
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Accept</button>
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Reject</button>
            <button class="col-md-2 btn approve-btn mt-3 mx-4">Remove</button>
          </div>
        </div>
        


        

        

        

        
        
        
    </div>
  </div>
