<app-navbar></app-navbar>
<div class="header-desp container">
    <h2>Connect with people you know on holagraph
    </h2>
</div>
<div class="container Connect-body">
   
    <div class="header-user">
       <input type="checkbox"> Select All (0) <button class="btn skip-btn">Skip</button> <button class="btn invite-btn">Invite</button>
    </div>
    <div class="row">
    <div class="user-contact">
        <input type="checkbox" class="float-right ">
        <div class="user-info">
            <img src="/assets/icons/1x/dp.png" width="75px" class="user-img"><br>

        <span> Abeesh Kumar</span><br>Intern at Reach Tech
    </div>
    </div>
    <div class="user-contact">
        <input type="checkbox" class="float-right ">
        <div class="user-info">
            <img src="/assets/icons/1x/dp.png" width="75px" class="user-img"><br>

        <span> Abbessh Chatterjee</span><br>Intern at Reach Tech
    </div>
    </div>
    <div class="user-contact">
        <input type="checkbox" class="float-right ">
        <div class="user-info">
            <img src="/assets/icons/1x/dp.png" width="75px" class="user-img"><br>

        <span> Abbessh Chatterjee</span><br>Intern at Reach Tech
    </div>
    </div>
    <div class="user-contact">
        <input type="checkbox" class="float-right ">
        <div class="user-info">
            <img src="/assets/icons/1x/dp.png" width="75px" class="user-img"><br>

        <span> Abbessh Chatterjee</span><br>Intern at Reach Tech
    </div>
    </div>
    <div class="user-contact">
        <input type="checkbox" class="float-right ">
        <div class="user-info">
            <img src="/assets/icons/1x/dp.png" width="75px" class="user-img"><br>

        <span> Abbessh Chatterjee</span><br>Intern at Reach Tech
    </div>
    </div>
    <div class="user-contact">
        <input type="checkbox" class="float-right ">
        <div class="user-info">
            <img src="/assets/icons/1x/dp.png" width="75px" class="user-img"><br>

        <span> Abbessh Chatterjee</span><br>Intern at Reach Tech
    </div>
    </div>
    <div class="user-contact">
        <input type="checkbox" class="float-right ">
        <div class="user-info">
            <img src="/assets/icons/1x/dp.png" width="75px" class="user-img"><br>

        <span> Abbessh Chatterjee</span><br>Intern at Reach Tech
    </div>
    </div>
</div>
</div>