<div class="experience">
    <div class="container experience-body">
        <h1>Add Language</h1>
        <img src="/assets/icons/1x/close.png" width="20px" class="cancel-icon" (click)="_language.closeModal()">
        <hr>
        <form [formGroup]='languageForm'>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Language" formControlName="language"
                [ngClass]="{'is-invalid':languageForm.get('language').touched && languageForm.get('language').invalid}">
            <div
                *ngIf="(languageForm.get('language').invalid && languageForm.get('language').touched) || languageForm.get('language').dirty">
                <small *ngIf="languageForm.get('language').errors?.required" class="text-danger"> language Name is
                    required</small>
            </div>

            <input type="number" class="form-control" formControlName="proficiency" placeholder="Proficiency" max="10">


            <button class="btn btn-primary" (click)="onSubmit()" style="width: 100%;">Add</button><br>

        </form>
    </div>
</div>