<!-- <nav class="navbar navbar-icon-top navbar-expand-lg navbar ">
    <a class="navbar-brand" href="#">HOLOGRAPH</a>
    <form id="frm">
      <div class="input-group">
        <input type="text" class="form-control frm1" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search" ><img src="assets/icons/1x/Asset 1.png" width="17px" ></i>
          </button>
        </div>
      </div>
    </form>
    <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fa fa-home"><img src="assets/icons/1x/Asset 3.png" height="20px" width="20px"></i>
            Home
            <span class="sr-only">(current)</span>
            </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-envelope-o">
              <img src="assets/icons/1x/Asset 4.png " width="20px">
            </i>
          Jobs
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-envelope-o">
              <img src="assets/icons/1x/Asset 5.png " width="20px">
            </i>
            Notification
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-envelope-o">
              <img src="assets/icons/1x/Asset 10.png " width="20px">
            </i>
            Learning Centre
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-envelope-o">
              <img src="assets/icons/1x/Asset 7.png " width="20px">
            </i>
            Micro Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-envelope-o">
              <img src="assets/icons/1x/Asset 8.png " width="20px">
            </i>
            My Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa fa-envelope-o">
              <img src="assets/icons/1x/Asset 9.png " width="20px">
            </i>
            More
          </a>
        </li>
      </ul>
     
     
    </div>
  </nav> -->
  
      
    <div class="float-right right-div" style="float:right">   
  <div class="featured float-right">
    <div class="featured-profile">
      <h5 class="featured-heading">Featured Professional</h5>
      <hr>
      <img src="assets/icons/1x/dp.png" width="70px" class="float-left featured-dp">
      <div class="featured-info">
        <b>Abbesh Chatterjee</b><br>
        Reach-Technologies<br>
        Web Developer,<br>
        Chennai, India<br>
        <a href="" class="know-more">Click here to know more</a>
      </div>
    </div>
  </div>
  <div class="featured float-right">
    <div class="featured-profile">
      <h5 class="featured-heading">Featured Academic</h5>
      <hr>
      <img src="assets/icons/1x/dp.png" width="70px" class="float-left featured-dp">
      <div class="featured-info">
        <b>Abbesh Chatterjee</b><br>
        Web Developer,<br>
        Chennai, India<br>
        <a href="" class="know-more">Click here to know more</a>
      </div>
    </div>
  </div>
  <div class="featured float-right">
    <div class="featured-profile">
      <h5 class="featured-heading">Featured Student</h5>
      <hr>
      <img src="assets/icons/1x/dp.png" width="70px" class="float-left featured-dp">
      <div class="featured-info">
        <b>Abbesh Chatterjee</b><br>
        Web Developer,<br>
        Chennai, India<br>
        <a href="" class="know-more">Click here to know more</a>
      </div>
    </div>
  </div>
  <div class="featured float-right">
    <div class="featured-profile">
      <h5 class="featured-heading">Featured Entrepreneur</h5>
      <hr>
      <img src="assets/icons/1x/dp.png" width="70px" class="float-left featured-dp">
      <div class="featured-info">
        <b>Abbesh Chatterjee</b><br>
        Web Developer,<br>
        Chennai, India<br>
        <a href="" class="know-more">Click here to know more</a>
      </div>
    </div>
  </div>
  <div class="featured float-right">
    <div class="featured-profile">
      <h5 class="featured-heading">Featured Organization</h5>
      <hr>
      <img src="assets/icons/1x/dp.png" width="70px" class="float-left featured-dp">
      <div class="featured-info">
        <b>Abbesh Chatterjee</b><br>
        Web Developer,<br>
        Chennai, India<br>
        <a href="" class="know-more">Click here to know more</a>
      </div>
    </div>
  </div>
  <div class="featured float-right">
    <div class="featured-profile">
      <h5 class="featured-heading">Featured Institute</h5>
      <hr>
      <img src="assets/icons/1x/dp.png" width="70px" class="float-left featured-dp">
      <div class="featured-info">
        <b>Abbesh Chatterjee</b><br>
        Web Developer,<br>
        Chennai, India<br>
        <a href="" class="know-more">Click here to know more</a>
      </div>
    </div>
  </div>
  <div class="featured float-right">
    <div class="featured-profile">
      <h5 class="featured-heading">Featured Books</h5>
      <hr>
      <img src="assets/icons/1x/dp.png" width="70px" class="float-left featured-dp">
      <div class="featured-info">
        <b>Abbesh Chatterjee</b><br>
        Web Developer,<br>
        Chennai, India<br>
        <a href="" class="know-more">Click here to know more</a>
      </div>
    </div>
  </div>
</div>
  <!-- <div class="container cont5">
    <div class="status">
      
      <div id="heading">
        <h2>Let your connection know a bit more about you</h2>
      </div>
      <div class="status-area">
      <div id="txtarea">
       
        <img src="assets/icons/1x/Edit.png" alt="" width="15px" class="status-edit">
        <input type="text" class="form-control statustxt" placeholder="Update your status">
      </div>
      <div >
        <img src="assets/icons/1x/insert.png" alt="" width="22" height="22" id="status-icons" >
        <img src="assets/icons/1x/Image.png" alt="" width="25" height="26" id="status-icons">
        <img src="assets/icons/1x/video.png" alt="" width="26" height="24" id="status-icons">
      </div>
    </div>
    </div>
    <div class="post">
      <div class="post-image">
      <img src="assets/icons/1x/bulb.png" width="47px">
    </div>
      <div class="post-text">
     <div id="teal">Sustain Design</div>
      Gurgaon India<br>
     <p> Now</p>
      <p>hey
      </p>
      
    </div>
    <small>5 likes.2 reacts.5 comments</small>
    
    <hr color="#A9A9A9      ">
   
    
    <div class="icons-div">
      
     <div id="icons"> <img src="assets/icons/1x/like.png" width="19px" height="22px" class="like-comment-icon"><br><small class="icon-txt">Like</small></div>
    
     <div id="icons" class="react-btn"> <img src="assets/icons/1x/smiley.png" width="22px" height="22px" class="like-comment-icon"><small class="icon-txt">React</small></div>
     <div id="icons"> <img src="assets/icons/1x/Comment.png" width="25px" height="22px" class="like-comment-icon report-img"><small class="icon-txt">Comment</small></div>
     <div id="icons" class="report"><img src="assets/icons/1x/Report.png" width="7px" height="22px" class="like-comment-icon report-img"><small class="icon-txt">Report</small></div>
    </div>
    <div class="react-box">
      <div id="like-options" class="like-opt">
        <img src="assets/icons/1x/clap.png" class="clap react-icons" width="30px" >
        <img src="assets/icons/1x/heart.png" class="heart react-icons" width="30px" >
        <img src="assets/icons/1x/idea.png" class="idea react-icons" width="30px" >
        <img src="assets/icons/1x/emoji.png" class="emoji react-icons" width="30px" >
      </div>
    </div>
    <div class="comment">
      <img src="icons/1x/dp.png" alt="" width="50px" class="comm-pro">
      <input type="text" class="form-control comment-box" placeholder="Write a comment...">
      <div class="input-group-btn">
        <button class="btn btn-default comm-icons" type="submit">
          <i class="glyphicon glyphicon-search comm-cam" ><img src="assets/icons/1x/Image.png" width="17px" ></i>
          <i class="glyphicon glyphicon-search comm-cam" ><img src="assets/icons/1x/video.png" width="17px" ></i>

        </button>
      </div>
    </div>  
    
    </div>
    <div class="post-notification">
      <div class="time">
          25min &nbsp
          <img src="assets/icons/1x/more-opt.png" width="12px">
      </div>
      <div class="post-image">
        <img src="assets/icons/1x/sdp.png" width="47px">
      </div>
      <div class="post-text">
        <span id="teal">Sanjana Chokroborti</span><br>
         Kolkata, India<br>
       
         <p> Art and design enthusiast. Always observing the space around me and finding things that interest and intrigue me. Anything creative draws me in. I have a passion for people, stories, the environment and the visual media! Art and design enthusiast. Always observing the space ...  <a href="">more</a></p>
       </div>
       <small class="comment-like"><u>Like</u>  &nbsp <u class="react-comment">React</u> &nbsp <u>Reply</u></small>
        <div id="like-options2" class="like-opt">
          <img src="assets/icons/1x/clap.png" class="clap react-icons" width="30px" >
          <img src="assets/icons/1x/heart.png" class="heart react-icons" width="30px" >
          <img src="assets/icons/1x/idea.png" class="idea react-icons" width="30px" >
          <img src="assets/icons/1x/emoji.png" class="emoji react-icons" width="30px" >
        </div>
      </div>
    </div> -->
    