<!-- <div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="jumbotron-image">
            <img class="jmb-img" src="{{userDetails?.photo}}" alt="">
        </div>
        <div id="jumbotron-text">
            <div id="name">
                <h2><span class="teal">{{userDetails?.first_name}} {{userDetails?.last_name}}</span></h2>
                Kolkata, India<br>
                Graphic Designer
            </div>

            <div id="j-icons"><a>
                    <img class="more-opt" src="./../../../assets/icons/1x/more-opt.png" alt=""><br>
                </a>
            </div>
        </div>

    </div>
    <div class="mainbody">

        <div class="place">
            <div class="heading">
                <h4>Privacy Setting</h4>
            </div>
            <div class="change-password">
              <a routerLink="/in/change-password">Change Password</a>  
            </div>
            <div class="select-section">
                Select the section of profile that can be viewed by others

            </div>
            <div class="sections">
                <form action="#">
                    <div *ngFor="let Item of privacy_menu; let i=index">

                    <p>
                        <label for="test1" class="label">{{Item}}</label>
                        <input type="checkbox" class="sect" name="radio-group"   (change)="getmenuCheckboxValues($event,i)"  [checked]="checkifmatchmenu(i)">

                    </p>
                    </div>
                
                    <button type="submit" (click)="submit()">Submit</button>
                </form>
            </div>
        </div>

    </div>
</div> -->
<div class="acc-header">
    <h1>Privacy Settings</h1>
    <div class="container user-info-body">
        <div class="float-right connections">
            {{userDetails?.connections?.length}} connections
        </div>
        <div *ngIf="userDetails.photo">
         <img src={{userDetails?.photo}} width="90px" height="90px" style="border-radius: 50%;" class="float-left">
         <div class="user-info">
             <b>{{userDetails?.first_name}} {{userDetails?.last_name}}</b><br>
             {{userDetails?.experiences[0]?.title}} at {{userDetails?.experiences[0]?.company_name}}<br>
             {{userDetails?.location_district}}, {{userDetails?.location_country}}
         </div>
        </div>
    </div>
   
</div>
<div class="container privacy-set-body">
<h2>Account Settings</h2>
<div class="privacy-set">
   <span class="float-right" routerLink="/in/change-password"><b>Change</b></span>
   <b>Change password</b><br>
   Choose a unique password to protect your account
</div>
<h2>How others see your profile</h2>
<div *ngFor="let Item of privacy_menu; let i=index">
<div class="privacy-set">
   <span class="float-right">

    <label class="switch m5">
        <input type="checkbox"   (change)="getmenuCheckboxValues($event,i)"  [checked]="checkifmatchmenu(i)">
<small></small>
      </label>
    
  </span>
   <b>{{Item}}</b><br>
</div>
</div>
<!-- <div class="privacy-set">
   <span class="float-right">

    <label class="switch m5">
        <input type="checkbox">
        <small></small>
      </label>
    
  </span>
   <b>Headline</b><br>
   Manage who can see your Headline.
</div>
<div class="privacy-set">
   <span class="float-right">

    <label class="switch m5">
        <input type="checkbox">
        <small></small>
      </label>
    
  </span>
   <b>Experience</b><br>
   Manage who can see your Experience.
</div>
<div class="privacy-set">
   <span class="float-right">

    <label class="switch m5">
        <input type="checkbox">
        <small></small>
      </label>
    
  </span>
   <b>Projects</b><br>
   Manage who can see your Projects.
</div>
<div class="privacy-set">
   <span class="float-right">

    <label class="switch m5">
        <input type="checkbox">
        <small></small>
      </label>
    
  </span>
   <b>Project Description</b><br>
   Manage who can see your Project Description.
</div>
<div class="privacy-set">
   <span class="float-right">

    <label class="switch m5">
        <input type="checkbox">
        <small></small>
      </label>
    
  </span>
   <b>Certificates</b><br>
   Manage who can see your Certificates.
</div>
<div class="privacy-set">
   <span class="float-right">

    <label class="switch m5">
        <input type="checkbox">
        <small></small>
      </label>
    
  </span>
   <b>Skills</b><br>
   Manage who can see your Skills.
</div>
<div class="privacy-set">
   <span class="float-right">

    <label class="switch m5">
        <input type="checkbox">
        <small></small>
      </label>
    
  </span>
   <b>Resume</b><br>
   Manage who can see your Resume.
</div>
<div class="privacy-set">
<span class="float-right">

    <label class="switch m5">
        <input type="checkbox">
        <small></small>
      </label>
 
</span>
<b>Hobbies</b><br>
Manage who can see your Hobbies.
</div>
<div class="privacy-set">
<span class="float-right">

    <label class="switch m5">
        <input type="checkbox">
        <small></small>
      </label>
</span>
<b>Awards</b><br>
Manage who can see your Awards.
</div>
<div class="privacy-set">
   <span class="float-right">

    <label class="switch m5">
        <input type="checkbox">
        <small></small>
      </label>
    
  </span>
   <b>Languages</b><br>
   Manage who can see your Languages.
</div>
<div class="privacy-set">
   <span class="float-right">

    <label class="switch m5">
        <input type="checkbox" >
        <small></small>
      </label>
    
  </span>
   <b>Education</b><br>
   Manage who can see your Education.
</div> -->

<button class="btn save-btn" (click)="submit()">
   Save Changes
</button>
</div>
