<div class="mainbody">
    <div class="header">
        <h2>Your job posting</h2>
    </div>
    <div class="place" *ngIf="jobPostsList.length">
        <div *ngFor="let item of jobPostsList">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <div id="symbols">
                        <span class="viewCandidates" routerLink="/jobs/candidates/{{item.id}}">View Candidates</span>
                    </div>
                    <div id="crdtxt">
                        <a routerLink="/jobs/edit-job/{{item.id}}">
                            <h4 class="card-title">{{item?.job_title}}</h4>
                            <span class="card-text">{{item?.location_District}},{{item.location_State}}</span><br>
                            <span class="card-text">{{item?.job_role}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="no-data" *ngIf="!jobPostsList.length">No job postings!</div>
</div>