<div class="main-container">
    <div class="container">
        <div class="jumbotron jumbotron-fluid" style="margin-top: 60px;">
            <div class="jumbotron-image" #coverImg [style]="coverImgStyle" *ngIf="userDetails?.photo"
                (click)="coverInput.click()">
            </div>
            <div class="jumbotron-image1" style="cursor: pointer; position: absolute; top: 243px;"
                *ngIf="userDetails?.photo">
                <img class="jmb-img" style="cursor: pointer; position: absolute;" (click)="photoInput.click()"
                    src={{userDetails?.photo}} alt="" style="cursor: pointer;">

            </div>
            <input type="file" #coverInput style="display: none;" (change)="onCoverUpload($event)">
            <input type="file" #photoInput style="display: none;" (change)="onPhotoUpload($event)">
            <div class="jumbotron-image" *ngIf="!userDetails?.photo">
                <img class="jmb-img" src="/assets/icons/1x/dp.png" style="cursor: pointer;"
                    (click)="photoInput.click()">

            </div>
            <div id="jumbotron-text">
                <div id="name">
                    <h2><span class="teal">{{userDetails?.first_name}} {{userDetails?.last_name}} <img
                                src="/assets/icons/1x/Edit.png" (click)="openEditModal('Profile',userDetails)" width="22px"
                                style="cursor: pointer;" class="edit-icon1"></span></h2>
                    <span *ngIf="userDetails?.experiences">{{userDetails?.experiences[0].title}} at
                        {{userDetails?.experiences[0].company_name}}</span><br>
                    <span>{{userDetails?.location_district}}, {{userDetails?.location_country}}</span>

                    <a style="margin-left: 10px; cursor: pointer; color: #0073b1; font-weight: 600;" (click)="openContactInfo()">Contact Info</a>

                </div>
                <div class="user-companies">

                    <span style="margin-bottom: 10px;"><img src="{{userDetails?.experiences[0]?.company_logo}}"
                            width="20px" height="20px"> {{userDetails?.experiences[0].company_name}}</span>
                    <span><img src="{{userDetails?.education[0]?.institute_logo}}" width="20px" height="20px">
                        {{userDetails?.education[0]?.institute}}</span>
                </div>
                <!-- <div style="
                height: 50px; position: relative;
                        bottom: 10px;">
                        <a style="position: relative;
                        top: 5px;
                        left: 5px;
                    "> -->
                            <img class="more-opt" src="/assets/icons/1x/more-opt.png" alt="" style="margin-right: 150px;"><br>
                        <!-- </a>

            </div> -->

        </div>
        <!-- <div *ngIf="showPdf" class="main-body" id="MyDIv">
            <div class="float-left cont1">
                <span class="contact">   
                <b>Contact</b><br>
                   www.xyz.com<br>
                </span>
                <div class="skills">
                    <b>Top Skills</b><br>
                    PHP<br>
                    Web development<br>
                    PHP<br>
                    Web development<br>
                </div>
                <div class="skills">
                    <b>Languages</b><br>
                    Hindi<br>
                    English<br>
                    
                </div>
                <div class="skills">
                    <b>Certificates</b><br>
                    Python (Basic) Certificate<br>
                    Python (Basic) Certificate<br>
                    Python (Basic) Certificate<br>
                    English<br>
                    
                </div>
                   
                
        
            </div>
            <div class="float-right cont2">
                <span class="basic-info">
                <h4 style="font-size: 40px;">Abbesh Kumar</h4>
                <b>Software Developer at Infosis,</b><br>
                Chennai, India
            </span>
            <div class="Summary">
                <h4>Summary</h4>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                <hr class="hr">
            </div>
            <div class="Experience">
                <h4>Experience</h4>
                <div class="exp-body">
                    <b>Reach Technology</b><br>
                    Web Developer<br>
                    jan 2020 - Present<br>
                    <span style="color: gray;">Chennai, India</span>
                </div>
                <div class="exp-body">
                    <b>Reach Technology</b><br>
                    Web Developer<br>
                    jan 2020 - Present<br>
                    <span style="color: gray;">Chennai, India</span>
                </div>
                <div class="exp-body">
                    <b>Reach Technology</b><br>
                    Web Developer<br>
                    jan 2020 - Present<br>
                    <span style="color: gray;">Chennai, India</span>
                </div>
                <div class="exp-body">
                    <b>Reach Technology</b><br>
                    Web Developer<br>
                    jan 2020 - Present<br>
                    <span style="color: gray;">Chennai, India</span>
                </div>
                <div class="exp-body">
                    <b>Reach Technology</b><br>
                    Web Developer<br>
                    jan 2020 - Present<br>
                    <span style="color: gray;">Chennai, India</span>
                </div>
                <hr class="hr">
            </div>
            <div class="Education">
                <h4>Education</h4>
                <div class="edu-body">
                    <b>SHRI RAM MURTI SMARAK COLLEGE OF ENGINEERING &
                        TECHNOLOGY</b><br>
                        Master of Computer Applications (MCA), Computer Science · (2015 - 2017)
                </div>
                <div class="edu-body">
                    <b>SHRI RAM MURTI SMARAK COLLEGE OF ENGINEERING &
                        TECHNOLOGY</b><br>
                        Master of Computer Applications (MCA), Computer Science · (2015 - 2017)
                </div>
            </div>
            </div>
        </div> -->
        <div class="mainbody">

            <div class="place">
                <div id="headline" style="padding: 40px;">
                    <h3>About<img src="/assets/icons/1x/Edit.png" (click)="openAddModal('Headline')" width="22px"
                            style="cursor: pointer;" class="edit-icon1"></h3>
                    <span class="txt">{{userDetails?.brief_Desc}}</span>
                </div>
                <div id="headline" style="padding: 40px;">
                    <h3>Experience<img src="/assets/icons/1x/plus.png" width="22px" class="plus-icon1"
                            (click)="openAddModal('Experience')" style="cursor: pointer;"></h3>

                    <div id="experience">
                        <div id="txt-exp" *ngFor="let exp of userDetails?.experiences">
                            <div style="display: flex">
                                <div>
                                    <img *ngIf="exp.company_logo" src="{{exp.company_logo}}" width="70px" height="70px"
                                        style="display: block; border-radius: 50%; cursor: pointer; "
                                        (click)="companyLogoInput.click()" class="exp-img">
                                    <img *ngIf="!exp.company_logo" src="/assets/icons/1x/no_company.jpg" width="70px"
                                        height="70px" style="display: block; border-radius: 50%; cursor: pointer; "
                                        (click)="companyLogoInput.click()" class="exp-img">

                                    <input type="file" style="display: none;" #companyLogoInput
                                        (change)="onCompanyLogoUpload($event, exp.id)">

                                </div>
                                <div style="margin-left: 35px;">
                                    <span class="teal">{{exp.company_name}}</span><br>
                                    {{exp.title}}<br>
                                    {{exp.responsibilities}}
                                    <p style="width: 200px;">{{exp?.start_date}} -- {{exp?.end_date}}
                                    </p>
                                </div>
                                <div>
                                    <img src="/assets/icons/1x/Edit.png" style="cursor: pointer;"
                                        (click)="openEditModal('Experience', exp)" style="cursor: pointer;" width="22px"
                                        class="edit-icon">
                                </div>

                            </div>
                            <div style="margin-left: 12%;">
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
                <div id="headline" style="padding: 40px;">
                    <h3>Education<img src="/assets/icons/1x/plus.png" width="22px" class="plus-icon1"
                            (click)="openAddModal('Education')" style="cursor: pointer;"></h3>

                    <div id="experience">
                        <div id="txt-exp" *ngFor="let exp of userDetails?.education">
                            <div style="display: flex">
                                <div>
                                    <img *ngIf="exp.institute_logo" src="{{exp.institute_logo}}" width="50px"
                                        height="50px" style="display: block; border-radius: 50%; cursor: pointer;"
                                        (click)="educationLogoInput.click()" class="exp-img">
                                    <img *ngIf="!exp.institute_logo" src="/assets/icons/1x/no_company.jpg" width="50px"
                                        height="50px" style="display: block; border-radius: 50%; cursor: pointer;"
                                        (click)="educationLogoInput.click()" class="exp-img">

                                    <input type="file" style="display: none;" #educationLogoInput
                                        (change)="educationLogoUpload($event, exp.id)">
                                </div>
                                <div style="margin-left: 35px;">
                                    <span class="teal">{{exp.institute}}</span><br>
                                    {{exp.degree}},
                                    {{exp.study_field}}<br>
                                    Grade - {{exp.grade}}<br>
                                   <a href={{exp.link}}> {{exp.link}}</a><br>
                                    <p *ngIf="exp.is_present">
                                        {{exp?.start_year}} --
                                        Present</p>
                                    <p *ngIf="!exp.is_present">
                                        {{exp?.start_year}} --
                                        {{exp?.end_year}}</p>
                                </div>
                                <div>
                                    <img src="/assets/icons/1x/Edit.png" style="cursor: pointer;"
                                        (click)="openEditModal('Education', exp)" style="cursor: pointer;" width="22px"
                                        class="edit-icon">
                                </div>
                            </div>
                            <div style="margin-left: 12%;">
                                <hr />
                            </div>

                        </div>
                    </div>
                </div>

                <div id="headline">
                    <h3>Projects <img src="/assets/icons/1x/plus.png" width="22px" style="cursor: pointer;"
                            class="plus-icon1" (click)="openAddModal('Projects')">
                    </h3>
                    <div id="experience" *ngFor="let project of userDetails?.projects">
                        <div id="txt-exp">
                            <div>
                                <img *ngIf="project.logo" src="{{project.logo}}" width="50px"
                                    height="50px" style="display: block; border-radius: 50%; cursor: pointer;"
                                    (click)="projectLogoInput.click()" class="exp-img">
                                <img *ngIf="!project.logo" src="/assets/icons/1x/no_company.jpg" width="50px"
                                    height="50px" style="display: block; border-radius: 50%; cursor: pointer;"
                                    (click)="projectLogoInput.click()" class="exp-img">

                                <input type="file" style="display: none;" #projectLogoInput
                                    (change)="projectLogoUpload($event, project.id)">
                            </div>                            <img src="/assets/icons/1x/Edit.png" width="22px" style="cursor: pointer;"
                                (click)="openEditModal('Projects', project)" class="edit-icon">
                            <div class="project-details">

                                <span class="teal">{{project?.project_name}}</span> {{project?.start_date}} - {{project?.end_date}}
                                <br>
                                <a href="{{project.link}}" target="_blank">{{project.link}}</a><br>
                                {{project?.start_date}} - {{project?.end_date}}
                            </div>
                        </div>
                        <div class="project-description" style="margin-left: 100px;">
                            <h3 style="font-size: 15px !important;">Project description
                            </h3>
                            <div class="pro-des">
                                {{project?.description}}
                            </div>
                        </div>
                        <div style="margin-left: 10%;">
                            <hr />
                        </div>
                    </div>
                </div>
                <div id="headline" style="padding: 40px;">
                    <h3>Certification<img src="/assets/icons/1x/plus.png" width="22px" class="plus-icon1"
                            (click)="openAddModal('Certifications')" style="cursor: pointer;"></h3>
                    <div class="project-description" *ngIf="userDetails?.certifications.length">

                        <div id="skill" *ngFor="let certification of userDetails?.certifications">
                            <span class="teal">{{certification?.certification_name}} <img
                                    src="/assets/icons/1x/Edit.png" style="cursor: pointer;"
                                    (click)="openEditModal('Certifications', certification)" width="22px"
                                    class="edit-icon1"></span><br />
                            {{certification?.description}}<br />
                            Valid till - {{certification?.validity_date}}
                            <hr />
                        </div>
                    </div>
                </div>
                <div id="headline" style="padding: 40px;">
                    <h3>Skills and Endorsements <img src="/assets/icons/1x/plus.png" width="22px" class="edit-icon1"
                            (click)="openAddModal('Skills')" style="cursor: pointer;"></h3>
                    <!-- <img src="/assets/icons/1x/Edit.png" width="22px" class="edit-icon1"></h3> -->

                    <div class="project-description" style="margin-top: 20px;">

                        <div id="skill" *ngFor="let skill of userDetails?.skills">
                            {{skill.skill}} ({{skill.level}}) <img src="/assets/icons/1x/Edit.png"
                                style="cursor: pointer;" (click)="openEditModal('Skills', skill)" width="22px"
                                class="edit-icon1">
                            <hr />
                        </div>

                    </div>
                </div>
                <div id="headline" style="padding: 40px;">
                    <h3>Awards <img src="/assets/icons/1x/plus.png" width="22px" class="edit-icon1"
                            (click)="openAddModal('Award')" style="cursor: pointer;"></h3>
                    <!-- <img src="/assets/icons/1x/Edit.png" width="22px" class="edit-icon1"></h3> -->

                    <div class="project-description" style="margin-top: 20px;">

                        <div id="skill" *ngFor="let award of userDetails?.awards">
                            {{award.title}} ({{award.issuer}}) <img src="/assets/icons/1x/Edit.png"
                                style="cursor: pointer;" (click)="openEditModal('Award', award)" width="22px"
                                class="edit-icon1">
                                <br />
                                {{award?.desc}}
                                <br />
                                Awarded in - {{award?.issue_time}}
                            <hr />
                        </div>

                    </div>
                </div>
                <div id="headline" style="padding: 40px;">
                    <h3>Hobbies <img src="/assets/icons/1x/plus.png" width="22px" class="edit-icon1"
                            (click)="openAddModal('Hobby')" style="cursor: pointer;"></h3>
                    <!-- <img src="/assets/icons/1x/Edit.png" width="22px" class="edit-icon1"></h3> -->

                    <div class="project-description" style="margin-top: 20px;">

                        <div id="skill" *ngFor="let hobby of userDetails?.hobbies">
                            {{hobby.title}} - {{hobby.desc}} <img src="/assets/icons/1x/Edit.png"
                                style="cursor: pointer;" (click)="openEditModal('Hobby', hobby)" width="22px"
                                class="edit-icon1">
                            <hr />
                        </div>

                    </div>
                </div>
                <div id="headline" style="padding: 40px;">
                    <h3>Languages <img src="/assets/icons/1x/plus.png" width="22px" class="edit-icon1"
                            (click)="openAddModal('Language')" style="cursor: pointer;"></h3>
                    <!-- <img src="/assets/icons/1x/Edit.png" width="22px" class="edit-icon1"></h3> -->

                    <div class="project-description" style="margin-top: 20px;">

                        <div id="skill" *ngFor="let lang of userDetails?.languages">
                            {{lang.language}} - ({{lang.proficiency}}) <img src="/assets/icons/1x/Edit.png"
                                style="cursor: pointer;" (click)="openEditModal('Language', lang)" width="22px"
                                class="edit-icon1">
                            <hr />
                        </div>

                    </div>
                </div>
                <div id="headline" style="padding: 40px;">
                    <h3>Upload Resume
                        <input type="file" style="display: none;" (change)="onVideoResumeUpload($event);" #videoInput>
                        <img src="/assets/icons/1x/video.png" width="35px" class="edit-icon1"
                            (click)="videoInput.click()" style="cursor: pointer;"></h3>
                    <small class="resume">Upload your resume video (Not more than 30 secs)</small>

                    <video #video style="display: none;" *ngIf="videoUrl" width="320" height="240" controls
                        [attr.src]="videoUrl" (loadedmetadata)="validateVideoDuration($event)">
                    </video>
                </div>
               
                
            </div>
            <!-- <div id="headline" class="recommendation" style="padding: 40px;">
                <div class="reco-nav">
                <h3 style="margin-bottom: 20px;">Recommendations</h3>
                <span class="Recieved" style="color: gray;">Recieved (1)</span><span class="Given" style="margin-left: 35px; color: gray;">Given (2)</span>
            </div>
                <div class="reco-body">
                <div class="float-left  reco-pro">
                <img src="/assets/icons/1x/dp.png" width="75px" class="float-left  reco-dp">
                <div class="reco-info">
                    <b>Web Developer at Tata consultancy</b><br>
                    Pune<br>
                    Maharastra

                </div>
            </div>
            <div class="reco-txt">
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </span>
            </div>
        </div>
        <div class="reco-body">
            <div class="float-left  reco-pro">
            <img src="/assets/icons/1x/dp.png" width="75px" class="float-left  reco-dp">
            <div class="reco-info">
                <b>Web Developer at Tata consultancy</b><br>
                Pune<br>
                Maharastra

            </div>
        </div>
        <div class="reco-txt">
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </span>
        </div>
    </div>
    <div class="see-all">
        <h4>See All</h4>
    </div>
            </div> -->
      
            <!-- <div class="interests2" id="headline" style="padding: 40px;">
                <h3>Interests</h3>
                <div *ngFor="let company of companiesFollowedArray">
                <div class="interest-card">
                    <img *ngIf="company.logo" src={{company.logo}} class="float-left" width="80px" height="80px">
                    <img *ngIf="!company.logo" alt="" class="float-left" width="80px" height="80px">

                    <div class="interest-followers">
                        <b>{{company.name}}</b><br>
                        {{company.followers}} followers
                    </div>
                </div>
            </div>
                <div class="see-all">
                    <h4>See All</h4>
                </div>
            </div> -->
            <!-- <div class="interests2" id="headline" style="padding: 40px;"><span class="float-right see-all2">See all</span>
                <h3>Activity</h3><span class="float-left" style="color: gray;">1500 followers</span><br>
                <div *ngFor="let activity of activityArray">
                <div class="activity-card">
                    <img src="/assets/icons/1x/image1.jpg" class="float-left" width="80px" height="80px">
                    <div class="activity-text">
                        <b>You commented on a post</b><br>
                        <br>
                      
                    </div>
                </div>
                </div>
                <div class="activity-card">
                    <img src="/assets/icons/1x/image1.jpg" class="float-left" width="80px" height="80px">
                    <div class="activity-text">
                        <b>"Lorem ipsum dolor sit amet, .</b><br>
                        2 reactions<br>
                        2000 reactions
                    </div>
                </div>
                <div class="activity-card">
                    <img src="/assets/icons/1x/image1.jpg" class="float-left" width="80px" height="80px">
                    <div class="activity-text">
                        <b>"Lorem ipsum dolor sit amet, .</b><br>
                        2 reactions<br>
                        2000 reactions
                    </div>
                </div>
                <div class="activity-card">
                    <img src="/assets/icons/1x/image1.jpg" class="float-left" width="80px" height="80px">
                    <div class="activity-text">
                        <b>"Lorem ipsum dolor sit amet, .</b><br>
                        2 reactions<br>
                        2000 reactions
                    </div>
                </div>
               
                
               
                
            </div> -->
        </div>
    </div>
    

    <div class="suggestion container" routerLink="/in/mynetwork">
        <div id="sug-head" style="cursor: pointer;">
            <h4>Your Connections</h4>
        </div>
        <!-- <div id="sug-body" *ngIf="userConnections.length">
            <div id="sug-pro" *ngFor="let connection of userConnections">
                <img src="/assets/icons/1x/close.png" width="10px" style="cursor: pointer;" class="close"
                    (click)="removeConnection(connection.id)">
                <img src="{{connection?.photo}}" class="sug-dp" alt="" width="55px" height="55px">
                <div class="text"><span class="teal" style="cursor: pointer;"
                        [routerLink]="['/professional-networking/users/', connection.id]">{{connection?.first_name}}
                        {{connection?.last_name}}</span><br>
                </div>
                <br>
            </div>

        </div>
        <div class="no-data" *ngIf="!userConnections.length">No connections!</div> -->
    </div>


</div>
<div >
<!-- <div  id="Profile_pdf" #Profile_pdf>
<div  class="main-body">
    <div class="float-left cont1" style=" position: absolute;
    top: 0;
    bottom: 0;
    height: 300%;
    background-color: teal !important;
    color: white;
    
    width: 30%;
    overflow-wrap: break-word;
    padding: 30px;
    padding-top: 80px;
    font-size: 20px;">
        <span class="contact">   
        <b>Contact</b><br>
           www.xyz.com<br>
        </span>
        <div class="skills">
            <b>Top Skills</b><br>
            PHP<br>
            Web development<br>
            PHP<br>
            Web development<br>
        </div>
        <div class="skills">
            <b>Languages</b><br>
            Hindi<br>
            English<br>
            
        </div>
        <div class="skills">
            <b>Certificates</b><br>
            Python (Basic) Certificate<br>
            Python (Basic) Certificate<br>
            Python (Basic) Certificate<br>
            English<br>
            
        </div>
           
        

    </div>
    <div class="float-right cont2" style=" width: 70%;
    height: 100%;
    padding: 30px;
    padding-top: 80px;
    font-size: 20px;">
        <span class="basic-info">
        <h4 style="font-size: 40px;">Abbesh Kumar</h4>
        <b>Software Developer at Infosis,</b><br>
        Chennai, India
    </span>
    <div class="Summary">
        <h4>Summary</h4>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        <hr class="hr">
    </div>
    <div class="Experience">
        <h4>Experience</h4>
        <div class="exp-body">
            <b>Reach Technology</b><br>
            Web Developer<br>
            jan 2020 - Present<br>
            <span style="color: gray;">Chennai, India</span>
        </div>
        <div class="exp-body">
            <b>Reach Technology</b><br>
            Web Developer<br>
            jan 2020 - Present<br>
            <span style="color: gray;">Chennai, India</span>
        </div>
        <div class="exp-body">
            <b>Reach Technology</b><br>
            Web Developer<br>
            jan 2020 - Present<br>
            <span style="color: gray;">Chennai, India</span>
        </div>
        <div class="exp-body">
            <b>Reach Technology</b><br>
            Web Developer<br>
            jan 2020 - Present<br>
            <span style="color: gray;">Chennai, India</span>
        </div>
        <div class="exp-body">
            <b>Reach Technology</b><br>
            Web Developer<br>
            jan 2020 - Present<br>
            <span style="color: gray;">Chennai, India</span>
        </div>
        <hr class="hr">
    </div>
    <div class="Education">
        <h4>Education</h4>
        <div class="edu-body">
            <b>SHRI RAM MURTI SMARAK COLLEGE OF ENGINEERING &
                TECHNOLOGY</b><br>
                Master of Computer Applications (MCA), Computer Science · (2015 - 2017)
        </div>
        <div class="edu-body">
            <b>SHRI RAM MURTI SMARAK COLLEGE OF ENGINEERING &
                TECHNOLOGY</b><br>
                Master of Computer Applications (MCA), Computer Science · (2015 - 2017)
        </div>
    </div>
    </div>
</div>
</div> -->
</div>
<!-- <input type="button" value="Convert" (click)="exportAsPDF('Profile_pdf')"/> -->

<!-- <button (click)="exportAsPDF('MyDIv')">pdf</button> -->

<app-contact-info *ngIf="(contactInfo.content$ | async).show"></app-contact-info>