<div class="container job-offer-page">
  <img src={{jobObj?.company?.logo}} width="100px" height="100px" style="border-radius: 50%;" class="float-left">
  <button class="btn float-right Apply-btn" (click)="apply()">Apply</button>
  <div class="job-txt">
      <span>{{jobObj?.company?.name}}</span><br>
      <i class="fas fa-map-marker-alt"></i> {{jobObj?.location_District}}, {{jobObj?.location_State}}
  </div>
  <div class="job-details">
      <span class="info-label"><i class="fab fa-black-tie"></i> Job Description</span><br>

  <div class="job-description">
    {{jobObj?.job_desc}}
  </div>

  <span class="info-label"> Job Title</span><br>
  <div class="job-description">
    {{jobObj?.job_title}}
  </div>

  <span class="info-label">Skills Required</span><br>

  <div class="job-description">
      <!-- HTML<span class="ver-hr"></span>CSS<span class="ver-hr"></span>JavaScript<span class="ver-hr"></span>Jquery<span class="ver-hr"></span>PHP<span class="ver-hr"></span> -->
      {{jobObj?.skills}}
  </div>
  <span class="info-label">Salary</span><br>

  <div class="job-description">
      ₹ {{jobObj?.salary}}
  </div>
</div>
</div>
<div id="profile-share" style="display: none;" (click)="displayProfileShareAlert()" #profileShare>
  Your profile will be shared with the company and the employer.
  <button class="btn btn-primary cont" routerLink="/jobs/upload-resume/{{jobId}}">Continue</button>
</div>

<!-- <div class="jumbotron jumbotron-fluid">
  <div class="jumbotron-image">
    <img class="jmb-img" src="/assets/icons/1x/dp2.png" alt="">
  </div>
  <div id="jumbotron-text">
    <div id="name">
      <h2>{{jobObj?.job_title}}</h2>
      <span>{{jobObj?.location_District}}</span>
    </div>

    <div id="j-icons"><a>
        <img class="more-opt" src="/assets/icons/1x/more-opt.png" alt=""><br>
      </a>
      <button class="btn btn-primary jbtn" (click)="apply()">
        Apply</button>

    </div>
  </div>

</div>
<div class="mainbody">

  <div class="place">
    <div class="heading1">
      <h3>Post Description</h3>
    </div>
    <div id="des1">
      {{jobObj?.job_desc}}
    </div>

    <div class="heading1">
      <h3>Job Title</h3>
    </div>
    <div id="des1">
      {{jobObj?.job_title}}
    </div>

    <div class="heading1">
      <h3>Skills required</h3>
    </div>
    <div id="des1">
      {{jobObj?.skills}}
    </div>

    <div class="heading1">
      <h3>Salary</h3>
    </div>
    <div id="des1">
      {{jobObj?.salary}}
    </div>
  </div>
</div>
<div id="profile-share" style="display: none;" (click)="displayProfileShareAlert()" #profileShare>
  Your profile will be shared with the company and the employer.
  <button class="btn btn-primary cont" routerLink="/jobs/upload-resume/{{jobId}}">Continue</button>
</div> -->