<div class="experience">
    <div class="container experience-body">
        <h1>Edit Hobby</h1>
        <img src="/assets/icons/1x/close.png" width="20px" class="cancel-icon" (click)="_hobby.closeModal()">
        <hr>
        <form [formGroup]='hobbyEditForm'>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Title" formControlName="title"
                [ngClass]="{'is-invalid':hobbyEditForm.get('title').touched && hobbyEditForm.get('title').invalid}">
            <div
                *ngIf="(hobbyEditForm.get('title').invalid && hobbyEditForm.get('title').touched) || hobbyEditForm.get('title').dirty">
                <small *ngIf="hobbyEditForm.get('title').errors?.required" class="text-danger"> title  is
                    required</small>
            </div>

            <textarea class="form-control" formControlName="desc" placeholder="Description"></textarea>


            <button class="btn btn-primary" (click)="onSave()" style="width: 48%;">Save</button>
            <button class="btn btn-primary" (click)="onDelete()" style="width: 48%;margin-left:4% ;">Delete</button><br>

        </form>
    </div>
</div>