<!-- <div class="mainbody">
    <div class="header">
        <h2>View Candidates</h2>
    </div>
    <div class="place" *ngIf="candidateList?.length">
        <ng-container *ngFor="let candidate of candidateList">
            <div class="card" style="width: 100%; display: flex;
            flex-direction: row;">
                <div class="card-body">
                    <div class="candidate-details">
                        <img src="{{candidate.applicant.photo}}" width="80px" height="80px" style="border-radius:50%;" alt="Card image cap">
                        <div id="crdtxt" style="position: relative;
                        top: -40px;">
                            <a href="">
                                <h4 class="card-title">{{candidate.applicant.first_name}}
                                    {{candidate.applicant.last_name}}</h4>

                            </a>
                        </div>
                    </div>
                </div>
                <div id="symbols1" style="position: relative;
                top: 25px;">
                    <div class="candidate-status">View Profile</div>
                    <span class="ver-hr"></span>
                    <div class="candidate-status"
                        (click)="changeJobStatus('shortlist',candidate.job.id,candidate.applicant.id)">Shortlist
                    </div>
                    <span class="ver-hr"></span>
                    <div class="candidate-status"
                        (click)="changeJobStatus('accept',candidate.job.id,candidate.applicant.id)">Hire
                    </div>
                    <span class="
                        ver-hr"></span>
                    <div class="candidate-status"
                        (click)="changeJobStatus('reject',candidate.job.id,candidate.applicant.id)">Reject</div>
                    <span class="
                            ver-hr"></span>
                    <div class="candidate-status">Message</div><span class="ver-hr"></span>
                </div>
            </div>
            </ng-container>
        </div>
<div class="no-data" *ngIf="!candidateList?.length">No Candidates for this job yet!</div>
</div> -->

<div class="mainbody">
    <div class="header">
        <h2>View Candidates</h2>

    </div>
    <div class="place">
        <div class="card" style="width: 100%;">
            <ng-container *ngFor="let candidate of candidateList">
                <div class="card-body">
                    <div class="candidate-details">
                        <img class="card-img" src="{{candidate?.applicant?.photo}}"
                            style="width: 80px; height: 80px; border-radius: 50%;" alt="Card image cap">
                        <div id="crdtxt">
                            <a routerLink="/users/{{candidate?.applicant?.id}}">
                                <h4 class="card-title">{{candidate?.applicant?.first_name}}
                                    {{candidate?.applicant?.last_name}}</h4>
                                <!-- <span class="card-text">Gurgao, India</span><br> -->

                            </a>
                        </div>
                    </div>
                    <div id="symbols1" class="float-right">
                        <div class="candidate-status" (click)="_profile.openProfileOverlay(candidate?.applicant?.id)">
                            View Profile</div><span class="ver-hr"></span>
                        <div class="candidate-status"
                            (click)="changeJobStatus('shortlist',candidate.job.id,candidate.applicant.id)">Shortlist
                        </div><span class="ver-hr"></span>
                        <div class="candidate-status"
                            (click)="changeJobStatus('accept',candidate.job.id,candidate.applicant.id)">Hire </div><span
                            class="ver-hr"></span>
                        <div class="candidate-status"
                            (click)="changeJobStatus('reject',candidate.job.id,candidate.applicant.id)">Reject</div>
                        <span class="ver-hr"></span>
                        <div class="candidate-status">Message</div><span class="ver-hr"></span>
                    </div>

                </div>
            </ng-container>
        </div>
        <div class="no-data" *ngIf="!candidateList?.length">No candidates!</div>




    </div>
</div>

<app-profile-overlay *ngIf="(_profile.profileOverlay$ | async).toShow"></app-profile-overlay>