<div class="mainbody">
    <div class="header">
        <h2>Your job posting details</h2>
        <div id="button">
            <button routerLink="/jobs/edit-job/{{jobId}}" class="btn btn-primary hbtn">View and edit post</button>
            <button class="btn btn-primary hbtn active">View candidates</button>
            <button routerLink="/jobs/shortlisted/{{jobId}}" class="btn btn-primary hbtn">Shortlist tab</button>
      
        </div>
    </div>
    <div class="place" *ngIf="candidateList?.length">
        <div class="card" style="width: 100%;">
            <div class="card-body">

                <div id="symbols">
                    <a href="">
                        <h5>Shortlist &nbsp;</h5>
                    </a>
                    <a href="">
                        <h5>Accept &nbsp;</h5>
                    </a>
                    <a href="">
                        <h5>Reject &nbsp;</h5>
                    </a>
                </div>

                <div id="vidlink">
                    <a href="">
                        <h6>www.linktovideoprofile.com</h6>
                    </a>
                </div>
                <img class="card-img" src="/assets/icons/1x/dp1.png" alt="Card image cap">
                <div id="crdtxt">
                    <a href="">
                        <h4 class="card-title">Abesh Chatterjee</h4>
                        <span class="card-text">Gurgao, India</span><br>

                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="no-data" *ngIf="!candidateList?.length">No Candidates for this job yet!</div>
</div>