<div class="experience">
    <div class="container experience-body" *ngIf="inputData.isInputForm">
        <h1>Add {{inputData.description}}</h1>
        <img src="/assets/icons/1x/close.png" width="20px" class="cancel-icon" (click)="closeInputModal()">
        <hr>
        <!-- <div class="experience-section">
            <h2>Headline <span class="teal">*</span> </h2>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->
        <div [formGroup]="inputForm" class="experience-section">
            <div formArrayName="profile">
                <div *ngFor="let control of inputForm.get('profile')?.controls; let i=index">
                    {{labels[i]}}
                    <input type="text" placeholder="{{placeholders[i]}}" [formControlName]="i" class="form-control"
                        style="margin-top: 20px;">
                </div>
            </div>
            <button class="btn btn-primary save-btn" (click)="onSave(inputData.description)">Add</button>
        </div>
    </div>
    <div class="container experience-body" *ngIf="!inputData.isInputForm">
        <h1>Edit {{inputData.description}}</h1>
        <img src="/assets/icons/1x/close.png" width="20px" class="cancel-icon" (click)="closeInputModal()">
        <hr>
        <!-- <div class="experience-section">
            <h2>Headline <span class="teal">*</span> </h2>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> -->
        <div [formGroup]="editForm" class="experience-section">
            <div formArrayName="profile">
                <div *ngFor="let control of editForm.get('profile')?.controls; let i=index">
                    {{labels[i]}}
                    <input type="text" placeholder="{{placeholders[i]}}" [formControlName]="i" class="form-control"
                        style="margin-top: 20px;">
                </div>
            </div>
            <div class="btn-container">
                <button class="btn btn-primary save-btn" (click)="onEdit(inputData.description)">Save</button>
                <button class="btn btn-primary save-btn" (click)="onDelete(inputData.description)">Delete</button>
            </div>
        </div>
    </div>
</div>