<div class="mainbody">
  <div class="header">
    <h2>Your job posting details</h2>
    <div id="button">
      <button routerLink="/jobs/edit-job/{{jobId}}" class="btn btn-primary hbtn">View and edit post</button>
      <button routerLink="/jobs/candidates/{{jobId}}" class="btn btn-primary hbtn">View candidates</button>
      <button class="btn btn-primary hbtn active">Shortlist tab</button>

    </div>
  </div>
  <div class="place" *ngIf="shortlistedList?.length">
    <div *ngFor="let candidate of shortlistedList">

      <div class="card" style="width: 100%;">
        <div class="card-body">

          <div id="symbols" style="display: flex;
        justify-content: center;
        align-items: center;">
            <a>
              <h5 style="cursor: pointer;" (click)="changeJobStatus('accept',candidate.job.id,candidate.applicant.id)">Accept &nbsp;</h5>
            </a>
            <a>
              <h5 style="cursor: pointer;" (click)="changeJobStatus('reject',candidate.job.id,candidate.applicant.id)">Reject &nbsp;</h5>
            </a>
            <a>
              <h5 style="cursor: pointer;" (click)="changeJobStatus('reject',candidate.job.id,candidate.applicant.id)">Remove &nbsp;</h5>
            </a>
          </div>

          <div id="vidlink">
            <a href="{{candidate.applicant.video_resume}}">
              <h6>Candidate video resume</h6>
            </a>
          </div>
          <img class="card-img" src={{candidate.applicant.photo}} alt="Card image cap">
          <div id="crdtxt">
            <a>
              <h4 style="cursor: pointer;" class="card-title" (click)="applicantProfile(candidate.applicant.id)">
                {{candidate.applicant.first_name}} {{candidate.applicant.last_name}}</h4>
              <span class="card-text">Gurgao, India</span><br>

            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="no-data" *ngIf="!shortlistedList?.length">
    No candidates shortlisted for this job yet!
  </div>
</div>