<div class="news-feed float-left">
    <div class="news-card">
        <span class="news">Today's News</span>
        <hr>
        <ul class="round" id="myDivId" *ngIf="!loading">
            <ng-container class="no-data" *ngIf="loading">Loading...</ng-container>
            <ng-container *ngFor="let news of newsList">
                <a style="cursor: pointer;" href="{{news['link']['@href']}}" target="_blank" [innerHTML]="news['title']['#text']"></a>
                <span [innerHTML]="news['content']['#text']"></span><br>
                <small>{{moment(news.published).fromNow()}}</small>
                <hr>
            </ng-container>
        </ul>
    </div>
</div>

