<div class="cont">
    <div class="notification-body" *ngIf="!!notifList && notifList.length">
        <div class="recent">
            <h4>Recent</h4>
        </div>
        <div class="notify" *ngFor="let data of notifList">
            <img src="/assets/icons/1x/more-opt.png" class="more-opt">

            <img routerLink="/in/users/{{data.profile.id}}" style="cursor: pointer;" *ngIf="data.profile"
                src="{{data.profile.photo}}" width="66px" height="66px" class="notify-dp">
            <img routerLink="/in/companies/{{data.company.id}}" style="cursor: pointer;"
                *ngIf="data.company && data.company.logo" src="{{data.company.logo}}" width="66px" height="66px"
                class="notify-dp">
            <img routerLink="/in/companies/{{data.company.id}}" style="cursor: pointer;"
                *ngIf="data.company && !data.company.logo" src="/assets/icons/1x/no_company.jpg" width="66px" height="66px"
                class="notify-dp">


            <small class="time-stamp">{{moment(data['timestamp']).fromNow()}}</small>

            <div class="notify-msg">
                <span>
                    <!-- {{ data.text.split(' ')[0] }} {{ data.text.split(' ').slice(1, data.text.indexOf()).join(' ') }} {{ data.text.substring(data.text.length - 4) }} -->
                    <span *ngIf="data.profile" routerLink="/in/users/{{data.profile.id}}"
                        style="cursor: pointer;">{{data.text.split(' ').slice(0, data.text.indexOf()).join(' ')}}</span><a
                        *ngIf="data.profile" style="cursor: pointer; text-decoration: none; color: #212529"
                        routerLink="/in/feed/{{data.url.split('/')[5]}}">
                        {{data.text.split(' ').slice(data.text.indexOf())[0]}}</a>
                    <span *ngIf="data.job" routerLink="/jobs/description/{{data.job.id}}"
                        style="cursor: pointer;">{{data.text}}</span>

                </span>
            </div>
        </div>

    </div>
    <!-- <div class="notification-body">
        <div class="recent">
            <h4>Earlier</h4>
        </div>
        <div class="notify">
            <img src="images/more-opt.png" class="more-opt">
            <img src="images/dp.png" width="66px" class="notify-dp">
            <small class="time-stamp">5h</small>

            <div class="notify-msg">
                Abbesh Kumar <b> and three others liked your job update </b>.
            </div>
        </div>
        <div class="notify">
            <img src="images/more-opt.png" class="more-opt">
            <img src="images/dp.png" width="66px" class="notify-dp">
            <small class="time-stamp">5h</small>

            <div class="notify-msg">
                Abbesh Kumar <b> and three others liked your job update </b>.
            </div>
        </div>
        <div class="notify">
            <img src="images/more-opt.png" class="more-opt">
            <img src="images/dp.png" width="66px" class="notify-dp">
            <small class="time-stamp">5h</small>

            <div class="notify-msg">
                Abbesh Kumar <b> and three others liked your job update </b>.
            </div>
        </div>
        <div class="notify">
            <img src="images/more-opt.png" class="more-opt">
            <img src="images/dp.png" width="66px" class="notify-dp">
            <small class="time-stamp">5h</small>

            <div class="notify-msg">
                Abbesh Kumar <b> and three others liked your job update </b>.
            </div>
        </div>
        
    </div> -->
    <div class="no-data" *ngIf="!notifList">Loading...</div>
    <div class="no-data" *ngIf="!notifList.length">No notifications!</div>

</div>